[2014-09-26 21:20] peterrogov opened #1 "Creating API"
Every attempt to follow the Readme is failed:

MacBook-Air-Petr:TestProject petrrogov$ sails generate permissions-api
error: No generator called `permissions-api` found; perhaps you meant `sails generate api permissions-api`?

What am i doing wrong? Please, help.

[2014-10-04 22:14] tjwebb opened #2 "add "owner" to req.params in sails policy"

[2014-10-26 22:28] tjwebb opened #3 "document basic use cases in README"

[2014-10-27 01:39] #1 closed, assigned to nobody

[2014-11-09 08:10] tjwebb opened #4 "set enableOwnership: false on Passport"

[2014-11-10 05:09] tjwebb opened #5 "validate permissions for each of req.options.associations"

[2014-11-11 07:35] #2 closed, assigned to tjwebb

[2014-11-13 08:15] arryon opened #6 "[Question] Decoupling from sails-generate-auth?"
Hi,

I've seen your work so far, and am eager to try this module for Sails once it's finished. However, I see that you rely on sails-generate-auth (wrapped by your own sails-auth) to implement authentication. Sails-generate-auth is mainly a module to authenticate against a local user store, and third-party OAuth providers.

In my case, my Sails app will be an OAuth provider of its own (using OAuth

[2014-11-15 07:20] #6 closed, assigned to nobody

[2014-12-08 10:25] dottodot opened #7 "No generator called `auth-api` found"
As far as I can tell I've done everything required but when I run sails generate auth-api I get an error of

No generator called `auth-api` found; perhaps you meant `sails generate api auth-api`?

and I have added the following to .sailsrc

[code]

[2014-12-09 09:40] #7 closed, assigned to nobody

[2015-01-15 21:56] tjwebb opened #8 "api change: enableOwnership --> ownedBy"
More terminologically parallel with `createdAt` and `updatedAt`. Also consider supporting an additional `createdBy` attribute, which could conceivably be different than `ownedBy`

[2015-01-19 22:36] airtonix commented on #7
[code]

Problem is still happening.

[2015-01-19 22:47] airtonix commented on #7
nvm, I missed the `lodash` part of `npm install`

[2015-01-20 02:09] tjwebb commented on #7
Yea; unfortunately depending on lodash in this project isn't sufficient, since the generated files live in the parent project, so lodash has to be installed there. I think the sails framework might address this problem at some point, but that's probably a ways in the distance.

[2015-01-20 06:41] airtonix opened #9 "can't disable google strategy"
I tried setting `sails.config.passport.google = false`, but nada.

[2015-01-20 07:09] airtonix opened #10 "api.services.protocols can never be customised"
`myproject/api/services/protocols/index`

[code]

`myproject/api/services/protocols/passport`

[code]
results in:

[code]

[2015-01-20 10:58] tjwebb commented on #9
Depends on where you're calling that. You'd have to set that value very early on in the sails boot process for it to have effect.

You should be able to customize stuff in here: https://github.com/tjwebb/sails-permissions/blob/master/config/passport.js#L6

[2015-01-20 11:00] tjwebb commented on #10
Hmm, I don't know why this would be. I'll try to reproduce.

[2015-01-23 20:19] tzaffi opened #11 "PermissionService missing isValid() method referenced by PermissionPolicy"
I'm trying to implement a Sails project using **sails-permissions / sails-auth**.

It appears that `/api/services/PermissionServices.js` is incomplete as `/api/policies/PermissionPolicy` references `PermissionService.isValid()` on line 46, while no such method exists in `PermissionService.js`.

[2015-01-24 00:14] tjwebb commented on #11
Strange, I'll try to see why that is.

[2015-01-24 02:45] tjwebb opened #12 "unit tests"
I should fill in my unit tests. this is basically a bug

[2015-01-25 03:01] tjwebb opened #13 "error: column permission.owner does not exist"
occurs when trying to query permissions directory

[2015-02-14 17:06] tjwebb opened #14 "hook fails to load in sails 0.11"
[code]

[2015-02-14 17:23] tjwebb commented on #14
Looks like this was an issue with adding array-based fixtures under `config/`. Fixed in hashware/api

[2015-02-14 17:23] #14 closed

[2015-02-17 02:48] #13 closed

[2015-02-17 02:49] tjwebb commented on #11
I've significantly overhauled sails-permissions in the past few weeks. Go ahead and try it out if you're still interested.

[2015-02-17 02:49] #11 closed

[2015-02-17 02:50] #12 closed

[2015-02-17 02:50] #9 closed

[2015-02-17 02:50] #4 closed

[2015-02-17 02:50] tjwebb commented on #8
Changed to autoCreatedBy

[2015-02-17 02:50] #8 closed

[2015-02-17 02:51] tjwebb commented on #10
Did you ever work around this?

[2015-02-17 14:29] tzaffi commented on #11
Great. I will try out the new code. If the need arises, I'll create a new issue.

[2015-02-23 15:33] tomhallam opened #16 "Cannot lift after having installed"
Hi there,

Followed the installation instructions, on a cleanly generated sails app, but after applying the policies to my policies.js configuration file as described, the app won't start.

    error: Unknown policy, "basicauth", referenced in `config.policies`.

After a bit of digging, it looks like these files aren't being copied from your "api" folder. I copied them over from this repository. N

[2015-02-24 05:50] tjwebb commented on #16
Let me try to re-create. I haven't seen this, and everything passes in Travis-CI.

Is the source code of project you're using this for public?

[2015-02-24 05:53] tjwebb commented on #16
Ah yea, it looks like I forgot to list a couple of the files to be generated. For my integration tests I'm lifting from inside the sails-permissions directory, and so all the files are obviously and necessarily present.

I'll fix this

[2015-02-24 09:39] #16 closed

[2015-02-24 11:19] tomhallam commented on #16
Can confirm this is now working. Slightly off topic, but now I have it installed - how do I use it?!

Documentation in /docs folder only really just tells me the layout of the ORM models, but I'm pretty unclear how to disable access to certain controller methods, etc.

Can you provide some basic documentation?

Thanks,
~T

[2015-02-24 15:24] tomhallam commented on #3
+1 on this - even basic documentation would be really handy

[2015-02-24 18:20] tjwebb commented on #3
I recently did an overhaul of sails-permissions. I'll be adding docs shortly, sorry for the wait

[2015-02-25 05:28] tjwebb commented on #3
I updated the README and added quite a bit of info in the wiki: https://github.com/tjwebb/sails-permissions/wiki

Hope that helps; let me know if you have any other questions

[2015-02-25 10:17] tomhallam opened #19 "If I create a new model after having installed, I receive database errors"
Hi there,

Have noticed since installing and generating the permissions hooks, I get database errors if I create a new model. It seems the script doesn't check whether there is an existing model representation before attempting to create a new one.

I assume using this method it would also invalidate any current permissions every time the app is re-initialised.

This could potentially be solved by

[2015-02-25 10:17] tomhallam commented on #3
Thanks a lot for your input here, really impressed that you got some documentation out so quickly.

I'm still a little bit unsure as to how to apply this to my controller methods - are they automatically applied depending on the permission created?

Also - I've noticed a bug, will open a seperate ticket. Seems like when you add a new model, it tries to recreate the older model's ... models! So I'm

[2015-02-25 19:47] tjwebb commented on #19
Thanks for the report, I'll look into it.

[2015-02-25 20:29] tjwebb commented on #19
What adapter are you using? It does attempt to create duplicate, but should just ignore the error.

btw, I think `findOrCreate` is going to be deprecated

[2015-02-25 20:40] tjwebb commented on #3
Yes the permissions are automatically enforced for all REST requests by the policies that are included.

[2015-02-25 22:51] tomhallam commented on #19
Using the stock mongodb adapter.

Findorcreate is far from perfect but I think it's valuable, can you link me
to deprecation thread?

~T
On 25 Feb 2015 20:29, "Travis Webb" <notifications@github.com> wrote:

[2015-02-25 23:15] tjwebb commented on #19
https://github.com/balderdashy/waterline/pull/843

Check the latest release. I check for existence before creating the models.

[2015-02-26 18:02] tjwebb opened #20 "make installable hook"
http://sailsjs.org/#!/documentation/concepts/extending-sails/Hooks/installablehooks.html

[2015-02-26 18:49] blah238 commented on #20
That would be great!

[2015-02-26 21:25] blah238 opened #21 "Custom actions"
One thing that may be blocking for some people is that the actions that may be protected by this is limited to CRUD actions. How difficult would it be to allow custom actions to be defined, so that for example, a `User` could be given permission to execute a `run` action on a given `Task`?

[2015-02-26 22:50] tjwebb commented on #21
This is something I've included the scaffolding for but I haven't been able to build out yet. I'd like support custom actions (controller endpoints) and also support attribute-level security. Both of these fields are already available in the Permission object:

- attribute: https://github.com/tjwebb/sails-permissions/blob/master/api/models/Permission.js#L36-L45
- service (controller method, or oth

[2015-02-27 01:18] tjwebb opened #22 "cache model.id --> model mapping in global sails namespace to avoid Model queries"

[2015-02-27 08:13] tjwebb opened #23 "implement some common permissions operations in PermissionService"
- grant(role, action, model)
- revoke(role, action, model)
- ??

[2015-02-28 01:20] tjwebb commented on #10
Ah, I think my generated index.js file there is misleading. You can't extend that object from there. Just add those directly to `sails.services.protocols` and that will work.

[2015-03-04 18:29] bmsterling opened #24 "Password unencrypted in User collection on initial set up"
In the process of grasping how to use sails-permissions, I noticed that the password being added to the `User` collection was not being encrypted via `bcrypt` but it is being encrypted when it's added to the `passport` collection.  I was going to address this but I am not clear of the entire flow of the app on initial start up, ie. `sails lift`.

Can you point me to where I should looks to make th

[2015-03-04 18:44] tjwebb commented on #24
There should be no password stored at all on the `User` object. All passwords should be hashed and stored on the `Passport` object. Can you share your example where this is happneing?

[2015-03-04 18:52] bmsterling commented on #24
I'm still stepping thru the code, but I have clean install of `sails` and `sails-permissions` with all the set up you have in the readme and at this point no code outside of what was added via the set up of the app.

It's happening before line `69` inside the `sails-permission.js` file.  Just before `return user.save();` I've added `user.password = '';` and that makes a blank password field in the

[2015-03-04 19:05] tjwebb commented on #24
That's done via passport.js.

Ok I'll look into this and figure out how it's ending up getting saved.

[2015-03-04 20:00] bmsterling commented on #24
Thanks, @tjwebb, I'll dig into what passport.js local to see what it is doing as well.

[2015-03-04 21:40] bmsterling commented on #24
@tjwebb looks like the origination of the issue is in the `sails-auth` library, `sails-auth/api/services/protocals/local.js`.  This line specifically: `return sails.models.user.create(_user, function (err, user) {`.

I'll create an issue in the `sails-auth` repo.

[2015-03-04 23:02] tjwebb commented on #24
can you confirm that your PR in sails-auth resolved this in sails-permissions?

[2015-03-04 23:08] tjwebb opened #25 "implement attribute-level security"
### AttributePolicy
  - implement logic to check if operation might violate `attribute` field is set on `Permission` object
  - return error for `update` action
  - delete Permission invalid; subset of `update`. attributes cannot be deleted.
  - create Permission invalid; attributes cannot be created.

### AttributePolicyResponse
  - automatically strip out non-permitted attributes in `read` opera

[2015-03-04 23:08] #3 closed

[2015-03-04 23:13] bmsterling commented on #24
Yes.  I've confirmed that the user record gets created minus the password and the passport record still has the encrypted password.  This is in the clean install of sails and sails-permission.

[2015-03-05 01:01] tjwebb commented on #24
Great, thanks. I'll publish a new version of sails-auth to npm

[2015-03-05 01:01] #24 closed

[2015-03-16 18:27] mbiondo opened #26 "Action bar"
As I can authenticate from ember js client? How should it be?

ENV ['single-auth-token'] = {
   serverTokenEndpoint: 'http: // localhost: 1337 / auth / local / login',
};

[2015-03-17 18:23] luislobo commented on #23
+1

[2015-03-18 14:37] dottodot opened #27 "Duplicate models, roles and permissions"
Every time I lift my app it's adding the default models, roles and permissions each time, so this collections are ending up with lots of duplicates.

[code]

This is using  Sails v0.10.5 with mongodb.

[2015-03-18 15:01] bgulotta commented on #27
If you are in a development environment you could just change your sails models.config to 'drop'.

[2015-03-18 15:36] dottodot commented on #27
Not really sure how that helps, surely it should only add these the first time you lift the app not every time.

[2015-03-18 16:25] tjwebb commented on #27
I think I'm using `findOrCreate` there. If not, that's a bug. I'll check it out.

[2015-03-19 21:13] gazzer82 opened #28 "Cannot read property 'create' of undefined when creating via POST"
Hi,

I'm trying to get this setup on a completely fresh install, but whenever i try to create any new objects via a POST request i get the following errors logged in the console:

[code]

Any idea what's going on, everything is default and i've followed the instructions as best i can.

If i do a get i can't see any objects in the permission, role or user endpoints at all.

Thanks

Gareth

[2015-03-19 22:06] tjwebb commented on #28
I'll check it out

[2015-03-20 03:40] gazzer82 commented on #28
Great, thanks.

I've just done a clean install, before installing sails-permissions all works as expected, afterwards error as above. It also seems to cause the models to be recreated every time I start sails, which doesn't seem correct?

[2015-03-20 03:46] tjwebb commented on #28
yes there's another issue about the models being re-created. I think I'm using `create` instead of `findOrCreate` somewhere.

[2015-03-20 23:10] cratervale opened #29 "How to use the default admin username and password?"
I am trying to get started with sails-permissions but I am unclear on how the default username and password work.

When trying to run the example in the docs using the authorization header 'Basic YWRtaW46YWRtaW4xMjM0'  (admin:admin1234)

POST /user
{
  username: 'tjwebb',
  email: 'me@traviswebb.com',
  password: 'test123'
}

"error": "Could not authenticate user admin"

I've also tried using 'adm

[2015-03-20 23:13] cratervale commented on #28
+1

[2015-03-21 20:16] RGBKnights commented on #28
I had to remove the AuditPolicy until this issue has been resolved.

[2015-03-22 23:32] heygrady commented on #19
Fresh install of Sails and sails-permissions. Getting errors after restarting sails because the fixtures have already created all of my records. Using `sails-mysql`.

I was able to fix it by wrapping the `create` calls in a `findOne`.

In `sails-permissions/config/fixtures/model.js`
[code]
In `sails-permissions/config/fixtures/role.js`
[code]

[2015-03-22 23:38] #27 closed

[2015-03-22 23:38] #19 closed

[2015-03-22 23:43] tjwebb commented on #28
This should be resolved in 1.0.12. Basically RequestLog and SecurityLog were missing from the generator. Re-run `sails generate permissions-api` and it will create the models.

[2015-03-22 23:43] #28 closed

[2015-03-22 23:46] tjwebb commented on #29
The unit tests authenticate using admin@example.com / admin1234 and work fine. The auth header is here: https://github.com/tjwebb/sails-permissions/blob/master/test.js#L10.

Try this and let me know if you have issues.

[2015-03-23 00:08] tjwebb commented on #19
The unit tests use sails-disk so I missed this one for awhile

[2015-03-23 09:29] dottodot commented on #27
This seems to have mostly fix creating duplicates however every time I restart it's adding 3 extra permissions.

They all have the role of "registered" and 1 for each model of "Permission", "Model", and "User"

[2015-03-23 14:16] tjwebb commented on #27
Sorry about that; fixed.

[2015-03-23 20:04] cratervale commented on #29
It seems as though the default admin user was not being created in my database.  I grabbed the changes that resolved issue #28,  ran `sails generate permissions-api --force`, and now the authentication is working as expected.

Thanks!

[2015-03-23 20:13] cratervale opened #30 "error: column permission.createdBy does not exist"
When running `sails lift` or `sails console` I receive the following error.  Probably just a missing attribute?

[code]

[2015-03-23 23:14] tjwebb commented on #29
Ok awesome. I'm not sure why that wasn't getting created, but I'm glad everything is working now. Let me know if you run into any other issues; thanks.

[2015-03-23 23:16] tjwebb commented on #30
Ah sorry man, I accidentally pushed some debug code into the release where I set autoCreatedBy to false on Permission. Things are sort of crazy in Balderdash-land right now and I wasn't paying attention; I'll fix this and be more careful in the future.

[2015-03-23 23:21] cratervale commented on #30
No worries, I really appreciate all you're doing with this library, it takes a huge headache out of user management.  I'll keep adding tickets as I find issues.  Cheers to Balderdash, also!

[2015-03-23 23:43] #29 closed

[2015-03-24 00:04] bgulotta commented on #30
Agree 100% cratervale!!!!

[2015-03-24 01:33] cratervale opened #31 "Error: Error.Passport.Password.Invalid on POST to /user"
Following the example in the docs, I am trying to make a POST call to the /user endpoint to create a new user.
[code]
The action behaves as expected for adding a new row in the User table and linking the new user to the default 'registered' role (via role_users__user_roles table when using sails-postgresql adapter).  However, it errors before a new row is added to the Passport table.  Here's the l

[2015-03-24 12:16] dottodot opened #32 "Public Role Usage"
How is the public role supposed to work? I would have assumed that this role could be used for users that are not logged in i.e anonymous users. However I have added a read permission to a model for the public role but I get error: "You are not permitted to perform this action."

[2015-03-24 23:22] cratervale commented on #31
I've tested this with `sails-disk` with the same results.

[2015-03-24 23:28] bgulotta commented on #31
I haven't tested this myself yet, but I believe it could be caused because the min length of the password field being set at 8 characters.

[2015-03-24 23:47] cratervale commented on #31
Ah yes, good catch!  This one was driving me nuts.

There is a nasty bug that crashes the server if you attempt to make the same request with a different password.  I'm closing this ticket and making a new one for that behavior.

[2015-03-24 23:47] #31 closed

[2015-03-24 23:56] cratervale opened #34 "Server crashes on POST /user if username or email exists."
An error response would be preferable to a server crash.  Here is the full stack trace:

[code]

[2015-03-25 00:02] bgulotta commented on #34
Pretty sure I have fixed and tested this issue in sails-auth. My PR is waiting to be accepted and merged.

[2015-03-25 00:13] cratervale commented on #34
Awesome, loving these projects :dancers:

[2015-03-25 00:16] bgulotta commented on #34
Yep. Me too!!!

[2015-03-25 00:16] #34 closed

[2015-03-25 14:46] bgulotta opened #35 "(Feature) Add gitter chat room badge to readme"
It would be nice to have a https://gitter.im/ chat badge added in the README.md for this repository. If you sign into gitter and create a room linked to this repository it should issue a PR to add this badge for you automatically.

[2015-03-25 14:53] aars commented on #35
+1 Love Gitter!

[2015-03-25 16:41] tjwebb commented on #35
done! good idea

[2015-03-25 16:41] #35 closed

[2015-03-28 06:35] paulvanbladel opened #38 "is there a decent sample app available showing the most important use cases?"
Is it possible to apply standard filter on model based on permission.
e.g  we have customer and order model with one to many relation.
i have permission based filter on customer (e.g. i can see only customers that i own and where customer type is abc). What happens when I query on orders with an "include" on customers.. Will the customer filter be applied automaticaly in the order context as well?

[2015-03-29 17:53] fearhat opened #39 "controllers not working"
i might be doing stuff totally wrong, but it seem's like i can't use my controllers anymore after using the sails-permissions generator.
I keep getting a
```[Error: Invalid route option, "model".I don't know about any models named: `test`]```
in my sails console, even though it should find a Controller named TestController, not a Model 'Test'

Edit: Whoops, forgot to change Policies! Fixed it myse

[2015-03-29 19:19] #39 closed

[2015-03-31 08:42] kievechua commented on #21
Hi, may I know what's the current status for this issue?

[2015-03-31 12:37] tjwebb commented on #21
It's scheduled, but I haven't had time to get to this yet. I'd be happy to collaborate on this with anyone who'd like to help out.

[2015-03-31 12:48] bgulotta commented on #21
I would be happy to help out. If we can start by iterating all the unit tests we can think of w/inputs and expectations, I can start writing all the unit tests. They will be broken for now, but will start popping green as the code is worked.

[2015-04-01 20:54] willemmulder opened #41 "Cannot set property '*' of undefined"
I've created a brand new Sails app, then added 'sails-permissions' to the package.json as a dependency, then added the generator to the .sailsrc and ran 'sails generate permissions-api'. All well so far. Then when I try to lift, I get

[code]

Any clues?

[2015-04-01 21:09] tjwebb commented on #41
Did you set up the policies as described in the README?

[2015-04-01 23:17] bgulotta commented on #21
I just got back from a family vacation so I have time to start working on this now. I am starting to add in unit tests to test all the functionality currently in the PermissionService and then start adding in all the new ones to test the security of model attributes and custom controller actions. Once I get all those added in my fork and ready to go I will let you know.

[2015-04-02 14:40] willemmulder commented on #41
That was the problem indeed!
I didn't think it would matter how/whether I would use the policies so I ignored that part.
Sorry for the confusion.

Thanks!

[2015-04-02 14:40] #41 closed

[2015-04-09 10:48] dottodot opened #43 "Audit Policy error when using sockets."
Firstly it fails for the ip address which could be resolved by including ```req.socket.handshake.address.address``` but then it fails on the sanitizeRequestUrl function as req.get('host') causes the error has no method 'get' and req.originalUrl is undefined.

[2015-04-10 08:43] dottodot commented on #27
This has started happening again since I've updated to the latest version.

[2015-04-10 09:48] tjwebb commented on #43
@scott-wyatt do you think your work on sails-auth#37 and sails-auth#38 might be relevant here?

[2015-04-10 14:11] dottodot opened #44 "Duplicate permissions on lift"
I'm still having issues similar to #27 but it only seems to be permissions now. So every time I lift a permission entry is created for each model and action for the admin role.

[2015-04-10 16:29] scott-wyatt commented on #43
@tjwebb not exactly as those only refer to the passport policy, more than likely there will need to be a handler for socket requests for the Audit Policy to inject what normally comes through a http request and is missing from a socket request.  @dottodot, would you mind posting some sample code and a break down of what you are trying to do?

[2015-04-10 17:13] dottodot commented on #43
I just using https://github.com/oscarhaggerty/Backbone.Sails which defaults to using socket requests rather that ajax. So this is what causes the error. Changing the setting to just ajax request resolves the issue.

[2015-04-10 19:55] scott-wyatt commented on #43
@dottodot, I work with a lot of socket requests as well, so I'll definitely be looking into this. If you find a solution please post.

[2015-04-11 05:13] tjwebb commented on #44
The default permissions are added using `findOrCreate`. Does it keep adding more and more copies of permissions every time you lift? i.e. if you lift 10 times, do you see 10 copies?

[2015-04-13 09:49] dottodot commented on #44
Yes that seems to what's happening. If I delete all permissions then lift it creates 31 entries, then on the next lift there are 62 entries and so on.

[2015-04-15 02:57] tjwebb commented on #44
Ok I think this is because the findOrCreate criteria isn't reliably treating the permissions as unique; this shouldn't impede functionality, and is basically a storage leak. I'll try to fix soon.

[2015-04-16 09:53] Esya commented on #38
:+1:

[2015-04-16 13:10] dottodot commented on #44
I've found that in fixtures by changing the findOrCreate to what's below fixes it's, although not sure if it will cause other issues.

[code]
[code]

[2015-04-16 17:54] tjwebb commented on #44
I think the main problem is that Permission has no unique field besides the primary key, so there's no way for findOrCreate to work reliably in this context. I'm working on a fix now.

[2015-04-17 15:42] pappu687 commented on #30
Any update on this ?

[2015-04-25 16:33] phishy opened #45 "row level security"
The README mentions row-level security. Is there any documentation for how this works?

[2015-04-26 06:01] owlgraphic opened #46 "Can't get ip address on a sails io socket request."
I got this error when use sails socket.io js.
code:
error: Sending 500 ("Server Error") response:
TypeError: Cannot read property 'remoteAddress' of undefined
at module.exports (/Users/chipgata/Projects/Backend-Tracking-Marketing/node_modules/sails-permissions/api/policies/AuditPolicy.js:6:67)

Problem is this connection really don't have ip attribute in req object. But ip come alone with socket o

[2015-04-28 06:23] tjwebb commented on #46
A PR would be great. I'm not going to have time to look at this until at least next week.

[2015-04-30 11:04] anthonybriand opened #48 "Sails 0.11 : The hook `sails-permissions` is taking too long to load."
Hello,

After I have installed sails-permissions and configured it, I can't lift, sails gave me an error :

There is the log :

debug: sails-permissions: syncing waterline models
debug: sails-permissions: admin user does not exist; creating...
debug: User.afterCreate.setOwner { '@type': 'd',
  '@class': 'user',
  username: 'acidspike',
  email: 'xxxxxxx@gmail.com',
  createdBy: null,
  owner: null

[2015-04-30 12:11] anthonybriand commented on #48
Sorry it seems to be related with a save problem in sails-orientdb see here : https://github.com/appscot/sails-orientdb/issues/89

[2015-04-30 14:58] #48 closed

[2015-04-30 18:10] chrisfrancis27 opened #49 "Add support for custom model configuration inside controllers"
Sails controllers may specify models that don't directly map to the controller names. For example, inside `api/controllers/MeatController.js` you could specify:

    module.exports = {
      _config: {
        model: 'fish'
      }
    };

Or, a more realistic example is namespacing the API with 'v1' etc, so inside `api/controllers/v1/MeatController.js`, in order to prevent sails looking for a mod

[2015-04-30 23:35] tjwebb commented on #49
Ah, good catch. I'll take a look. Thanks for the PR!

[2015-05-03 06:52] #49 closed

[2015-05-04 15:01] chrisfrancis27 opened #51 "TypeError: undefined is not a function (Promise.map)"
Bashing my head a bit trying to figure this one out. I can't lift my Sails app. However, when I create a brand new test app and follow the same steps (generate a couple of model/controllers and install sails-permissions) it works just fine. Here's the full stacktrace (paths shortened for brevity):

    error: TypeError: undefined is not a function
    at Object.exports.createModels (.../server/nod

[2015-05-11 17:53] scott-wyatt commented on #46
This fixes the IP issue, at least it's in the right direction.
[code]

[2015-05-12 00:33] scott-wyatt commented on #43
I just submitted a PR that fixes these issues

[2015-05-12 03:24] secrettriangle commented on #38
:+1:

[2015-05-13 05:32] maheshchari opened #54 "npm registry 404"
while i am trying to install , it giving https://registry.npmjs.org/sails-permissions/-/sails-permissions-1.0.17.tgz 404.
Can you fix ASAP.
npm ERR! fetch failed https://registry.npmjs.org/sails-permissions/-/sails-permissions-1.0.17.tgz
npm WARN retry will retry, error on last attempt: Error: fetch failed with status code 404
npm ERR! fetch failed https://registry.npmjs.org/sails-permissions/-/sa

[2015-05-13 06:59] maheshchari commented on #38
![](https://assets-cdn.github.com/images/icons/emoji/unicode/1f44d.png)

[2015-05-13 07:18] maheshchari opened #55 "Local strategy example"
Can you please provide example for local strategy implementation.
At the moment i am unable to see login path.
Thanks,

[2015-05-13 10:15] floriandejonckheere commented on #54
:+1:

[2015-05-13 10:48] maheshchari commented on #55
My bad, i spent almost 12 hours to debug that is i am using username in JSON body.
POST http://localhost:1337/auth/local
{
"identifier":"maheshchari",
"password":"password"
}
Thanks , if good documentation it should add more value .

[2015-05-13 10:48] #55 closed

[2015-05-14 16:50] secrettriangle opened #56 "Have to set UserController: {create: true} manually in policies"

[2015-05-14 16:57] aaronfranco commented on #54
same problem

[2015-05-15 03:42] tjwebb commented on #54
Republished, thanks.

see https://github.com/npm/npm/issues/8099
and https://github.com/npm/npm/issues/8100

[2015-05-15 03:42] #54 closed

[2015-05-15 03:49] tjwebb commented on #56
This is intended behavior, actually. sails-permissions is different than sails-auth in this way. The idea is that users can only be added to the system by an admin. I certainly could make this clearer in the docs.

[2015-05-15 03:52] tjwebb commented on #51
Hey @chrisfrancis27 thanks for the report. Would you mind submitting a PR? If I omitted that require, that's an error on my part.

[2015-05-15 04:59] maheshchari commented on #54
Thank you for amazing contribution :+1:

[2015-05-15 05:00] maheshchari commented on #45
:+1:

[2015-05-15 15:16] secrettriangle commented on #56
That makes sense, but I think that sails-permissions should more closely match sails defaults: by default, everything is public, but can be made private via policy. Either way no big deal.

[2015-05-18 21:20] secrettriangle commented on #56
Updated for https://github.com/tjwebb/sails-auth/pull/48#issuecomment-102591803

[2015-05-19 00:35] khchan opened #58 "sails-auth 1.2.2 breaks sails-permissions' user creation"
On a fresh installation of sails-permissions with sails-auth@1.2.2, the default admin user is created erroneously with the username as 'admin@example.com':

[code]

Behaviour was last okay on sails-auth@1.1.0.

[2015-05-19 02:20] tjwebb commented on #58
What are you setting the admin username to?

[2015-05-19 02:27] khchan commented on #58
It wasn't set before so I just tried again with setting ADMIN_USERNAME, ADMIN_EMAIL and ADMIN_PASSWORD explicitly to the defaults and I still have the same result.

[2015-05-19 02:38] tjwebb commented on #58
This should set the username to the value you specify: https://github.com/tjwebb/sails-permissions/blob/master/config/fixtures/user.js#L21

I'll look into it further.

[2015-05-19 07:07] dbkaplun opened #59 "Discrepancy between README.md and config/policies.js"
* [config/policies.js](https://github.com/tjwebb/sails-permissions/blob/ab96af910822fcd4c38af6c76f283e94ec46edad/config/policies.js#L33) says `AuthController: {'*': true}`
* [README.md](https://github.com/tjwebb/sails-permissions/blame/52f19ab56392834810b87b37555b5f7251152a08/README.md#L61) says `AuthController: {'*': [ 'passport' ]}`

Which one do I use?

[2015-05-20 06:49] ptphats commented on #58
I have same problem.
At this file: node_modules/sails-auth/api/models/User.js

Remove code:
// beforeValidate: function (user, next) {
  //   if (_.isEmpty(user.username)) {
  //     user.username = user.email;
  //   }
  //   next();
  // },

[2015-05-25 07:48] anthonybriand opened #61 "Add PATCH method into PermissionService"
Please add support of the PATCH method in PermissionService

[2015-05-26 16:21] tongtwist commented on #30
Up! Got the same error.

[2015-05-27 15:06] mrnix opened #62 "Unknown column 'permission.createdBy'"
Hi guys, I have a problem setting up sails-permissions.
On server starting:

  info: Starting app in interactive mode...
  debug: sails-permissions: syncing waterline models
  debug: sails-permissions: created admin user: { createdBy: 1,
    owner: 1,
    username: 'admin',
    email: 'admin@example.com',
    id: 1,
    createdAt: '2015-05-27T14:55:56.000Z',
    updatedAt: '2015-05-27T14:55:56.000

[2015-05-29 06:54] owlgraphic commented on #46
Okay, I will update and check it out.  Thank you guy.

[2015-05-31 21:12] tjwebb commented on #61
Can you be more specific as to what exactly it would do?

Contributions are welcome. I can't always implement all feature requests

[2015-06-01 07:33] anthonybriand commented on #61
Yes, it would be fine to add the support of the HTTP PATCH method, this method is used for updating a chunk of a model record

eg : PATCH /controller/[id] with data ->
[code]
Will only update the "name" attribute of the model [id], this method works like a PUT but contain only modified attributes

[2015-06-01 14:35] nathanmarks commented on #58
@tjwebb @ptphats That same function is causing me an issue with the `User.afterCreate.setOwner` callback function. It ends up running `beforeValidate` with `{owner: 123}` and strips the username.

[2015-06-01 15:27] nathanmarks commented on #51
@tjwebb I have the same issue affecting `attachDefaultRole` where it is using the default implementation and mixing users up in the promise chain due to the lack of bluebird's magic `bind()`.

[2015-06-02 13:49] Jonny137 commented on #45
![1f44d](https://cloud.githubusercontent.com/assets/6277902/7937203/e568309e-093e-11e5-8c20-f0f088508e91.png)

[2015-06-03 10:58] jerrywuz commented on #25
yeah , I want this feature.
For example, User A can update Model(topic) 's status ,User B only can update Model(topic) 's name.

[2015-06-03 11:02] jerrywuz commented on #21
+1

[2015-06-05 02:23] yshing commented on #58
Same issues here,
Temporary added code in api/models/User.js to override beforeValidate ..

[2015-06-05 08:08] JHereu commented on #38
:+1:

I've read in some other issue you can perform a lift directly from the sails-permissions module folder to launch a test app. Well, it launches and creates/stores some data in the database, but still unclear for me at least. Don't know what to do with that "example"...

[2015-06-05 16:07] anthonybriand opened #63 "User based permission"
Hello,

Currently you have a role based permission but it can be useful to have (in addition to role based permission) a User based permission.

I will try to explain, I have :
Model A
User A
User B

User A has created a record of Model A, however, User A does not want the User B (and only him) have access to that record.

Can I do this actually with sails-permissions ?

Thanks in advance for your

[2015-06-05 16:21] tjwebb commented on #63
You're right, the only way to connect a User to a Permission is via a Role. This design is flexible enough, though, to do just about anything you'd want. Convenience methods can be added to make certain tasks easier.

If you have a Record R, you could theoretically create a new Role, which everyone except User B gets assigned, which grants permissions to see R. The awkardness here is that Roles ar

[2015-06-05 19:13] tjwebb commented on #58
Resolved in v1.2.3.

see https://github.com/tjwebb/sails-auth/commit/bba666544f4314c97fe161d4331325924ee6b068

[2015-06-05 19:13] #58 closed

[2015-06-05 19:14] tjwebb commented on #59
Strangely enough, in this case, I think the documentation is correct and the code is wrong.

[2015-06-05 19:30] dbkaplun commented on #59
Indeed, I've been using `AuthController: {'*': [ 'passport' ]}` as in the README but frankly I don't remember why.

[2015-06-05 19:36] tjwebb commented on #59
Alright I've synced everything up. Thanks for pointing that out.

[2015-06-05 19:36] #59 closed

[2015-06-05 21:29] tjwebb commented on #44
@dottodot I've made some improvements to the fixtures. Are you still seeing this issue on the latest release?

[2015-06-05 21:42] tjwebb opened #64 "Support transitive permissions"
#### Use Case
Suppose the models `Message` and `Stream`. A User's permissions on `Message` should be conditional also on the User's relationship to a `Stream`.

#### Example
Suppose `Stream` has a field called `subscribers`, which is a list of Users.

A user `U` can `create` a Message if `U` has permission to create Messages **and** `U in myStream.subscribers` (aka `message.stream == myStream`).

[2015-06-06 10:29] dottodot commented on #44
Is the new release available as I can only get 1.0.19 which has the same issue

[2015-06-08 07:31] anthonybriand commented on #63
Ok, I will use another method because I will have about 100K users and many records with this use case, I will try to fork sails-permissions and add this behavior.

Thanks for your help.

[2015-06-08 07:34] tjwebb commented on #63
So your main goal is instead of `User -> Role -> Permission` you'd like to be able to directly set `User -> Permission`. I think that's reasonable. Let me know if you need help / have questions. A PR would be great!

[2015-06-08 07:38] anthonybriand commented on #63
Yes that's it, of course when I will done this part I will make you a PR

[2015-06-09 11:29] anthonybriand commented on #63
Hi, just a little question : why did you choose to only have additive permissions ?
I have made a branch (from the user level permission) with the implementation here : https://github.com/anthonybriand/sails-permissions/tree/subtractive-permissions

[2015-06-10 01:26] tjwebb commented on #46
Is this resolved by #47?

[2015-06-10 02:41] tjwebb commented on #5
@ryanwilliamquinn I wonder if this can flow also into the Transitive Permissions feature. Basically, we currently avoid this problem by setting `populate: false`. But sails allows you to complexly query for associations and whatnot, and we'll want all these permissions checks to apply to those relations as well

[2015-06-10 10:02] dottodot commented on #32
Are you able to provide any information on this. At present it's unusable if it's not possible to grant public/anonymous users access to certain things.

[2015-06-10 13:06] dottodot commented on #45
+ 1

[2015-06-11 05:35] tjwebb opened #67 "setting autoCreatedBy: false in config/models.js doesn't seem to have any effect"

[2015-06-11 09:38] dottodot commented on #44
OK just noticed the update is now available and it now longer seems to be creating duplicates.

[2015-06-11 11:28] dottodot commented on #32
OK I've realised what's happening now. The sessionAuth policy is requiring the user to be logged in so no matter what permissions are set up they must be logged in first. This can be fixed by allowing access to actions through policies.js but this seems to defeat some of the purpose of this system.

Not sure if this would work, but I've seen this method used elsewhere, is users that are not logged

[2015-06-11 14:45] owlgraphic commented on #46
Hey team, after update current Sails-Permission version,  I no-longer get Ipaddress error. But get this error when try to get collection by sails's io.socket GET method.
[code]
This is line 24 to 28 of AuditPolicy.
[code]

[2015-06-14 05:49] hungbya commented on #45
+1

[2015-06-14 23:42] satyadeepk commented on #45
I see that it is not implemented yet,
https://github.com/tjwebb/sails-permissions/blob/master/api/models/Permission.js#L27

[2015-06-16 22:38] #44 closed

[2015-06-17 07:03] tjwebb commented on #45
@phishy this is now supported as of #69. Any help testing it out is appreciated.

[2015-06-23 13:16] wfpaisa opened #70 "There are practical examples of how to use it?"
Hello, for us it is difficult to understand the operation. There are practical examples of how to use it?

It would be helpful to many people who are starting in sails.js and permissions need to integrate effectively.

[2015-06-24 23:29] tjwebb commented on #51
cc @ryanwilliamquinn

[2015-06-25 00:44] #51 closed

[2015-06-26 20:30] ryanwilliamquinn opened #72 "peerDependencies error when installing"
This error is from a project using sails 0.12.0-rc2:

npm WARN peerDependencies longer be automatically installed to fulfill the peerDependency
npm WARN peerDependencies in npm 3+. Your application will need to depend on it explicitly.
npm ERR! Darwin 14.3.0
npm ERR! argv "node" "/Users/rquinn/.nvm/versions/node/v0.12.5/bin/npm" "install" "sails-permissions" "--save"
npm ERR! node v0.12.5
npm ERR!

[2015-06-27 05:07] #64 closed

[2015-06-27 05:07] #22 closed

[2015-06-28 20:14] dbkaplun commented on #16
This is happening again:
[code]

[2015-06-28 20:26] dbkaplun commented on #16
Works if you install `sails-auth` first, then `sails-permissions` (you will have to remove some of the files generated by `sails-auth`).

[2015-06-29 03:09] tjwebb commented on #16
That's a different error; we added some new models and functionality in 1.1. What's needed is actually documentation for the upgrade path, and to rely less on the "generator" feature.

[2015-06-29 03:11] tjwebb commented on #72
I blame npm. I removed the offending peerDependencies, which were there mostly due to anal-retentiveness anyway.

[2015-07-01 11:21] dottodot commented on #45
I would be happy to test but do you have any info on how to use it?

[2015-07-01 11:32] dottodot opened #76 "Cannot set property '_modelCache' of undefined"
After updating to the latest version I had to manually add the Criteria model file but now I'm getting the following error.

[code]

[2015-07-03 11:51] dottodot commented on #76
OK just tried on a clean app with no issues, so any suggestions as to what's causing this so I can fix it

[2015-07-03 14:21] dottodot commented on #76
OK looks like it need to be sails v11 to work properly

[2015-07-05 19:17] zxshinxz commented on #21
+1

[2015-07-05 19:18] zxshinxz commented on #23
+1

[2015-07-05 19:19] zxshinxz commented on #25
+1
this would be awesome

[2015-07-06 04:05] tjwebb commented on #25
@zxshinxz this feature actually exists in master via Criteria.blacklist: https://github.com/tjwebb/sails-permissions/blob/master/api/models/Criteria.js#L18. Thanks @ryanwilliamquinn

[2015-07-06 04:09] tjwebb commented on #76
Ah, yes. Unfortunately npm decided to [get pedantic about peerDependencies](https://github.com/npm/npm/issues/6565) so I removed the sails requirement from package.json. The latest version of sails-permissions does require sails 0.11

[2015-07-07 04:48] #76 closed

[2015-07-07 04:49] #72 closed

[2015-07-07 04:49] #62 closed

[2015-07-07 05:37] tjwebb commented on #25
closed via https://github.com/tjwebb/sails-permissions/pull/69

[2015-07-07 05:37] #25 closed

[2015-07-07 05:38] #63 closed

[2015-07-07 15:18] servel333 opened #79 "Rename model to controller"
I would like to propose renaming the "model" stuff to "controller". The reason for this is because if you look at [config/fixtures/model.js](https://github.com/tjwebb/sails-permissions/blob/v1.2.1/config/fixtures/model.js#L10), it's not loading the Sails models but instead loading the Sails controllers.

"Model" is a confusing and inaccurate name for this.

[2015-07-07 16:02] dapriett commented on #79
I also noticed the hook is comparing the Model (controllers) count to the count of sails.model: https://github.com/tjwebb/sails-permissions/blob/v1.2.1/api/hooks/sails-permissions.js#L37

If we have models with no controller it won't match up.  Also may want the fixtures to do some cleanup if models no longer exist (also throwing off the count).

[2015-07-07 17:23] servel333 commented on #79
I misread this code, it looks like it is in fact storing the model information and not the controller information, but it's confusing since the way this is written, there must be a controller for the model for the model record to get created and if there is no model record for the model/controller, there's no way to map the actions to permissions.

There are probably some other issues around this,

[2015-07-07 17:23] #79 closed

[2015-07-08 19:30] khchan opened #81 "AuditPolicy/RequestLog stores nothing because sails.getHost() returns undefined"
Sails.prototype.getHost will return undefined if host is not explicity set, so when I start up a new sails-permissions application, nothing is stored in requestlog due to the url being invalid.

In AuditPolicy.js, the function should include an or clause for cases like this:

[code]

[2015-07-11 03:30] finalherizo commented on #10
Hi,

I know I'm too late, but perhaps one way to extend it would be to require the local protocols in your extended passport.js myproject/api/services/protocols/passport `protocols: require('./protocols')`. I'm still too early in my project and I don't know if that will really work but at least that give me all my custom protocols.

[2015-07-13 18:57] zxshinxz commented on #45
this is awesome!

[2015-07-15 20:55] tjwebb commented on #81
@dbkaplun didn't you alter the `host` logic at some point? Do you have any thoughts on this?

[2015-07-15 20:55] tjwebb commented on #70
@wfpaisa We're working on a blog post that will explain everything in more detail.

[2015-07-15 21:04] dbkaplun commented on #81
Hmm, I think @khchan's suggestion seems valid. It used to be `req.get('host')` but websocket connections don't have a `.get` method so I changed it, but maybe they'll have a `.host`. I think it should be `req.host || sails.getHost()` instead though, so `req`'s host has priority over `getHost()`.

[2015-07-15 22:20] tjwebb commented on #81
Ok. A PR would be awesome from whoever wants to fix this. Thanks

[2015-07-16 10:58] dottodot commented on #45
Ok just trying the permission criteria but it doesn't seem to have any effect.

I have set the permission using
[code]
where inventory is an association to a model

I was hoping that any public user would then not see the inventory attribute which is populated in my controller.

I've also tried it on another field that isn't an association and the attribute is still displayed in the response.

[2015-07-16 12:45] ryanwilliamquinn commented on #45
@dottodot Are you using a blueprint controller or a custom controller for the Product/read request?  Blacklist filtering only works if the result is sent back with `res.ok`, so if you are using a custom controller, make sure you send the response via `res.ok`.

I have also noticed some unusual behavior with the 'public' role.  I will see if I can reproduce this when I have a few minutes.

[2015-07-16 12:58] dottodot commented on #45
Yes I'm using a custom controller, I've just changed it to ```res.ok``` and that's made no difference and I've tried on the registered role and it's still the same.

I'm wondering if the 'where' option is required for it to work but not sure what you'd use field that can be any value.

[2015-07-16 13:04] ryanwilliamquinn commented on #45
No, the 'where' option should not be required for it to work.  Let me have a look at it now.

[2015-07-16 13:14] ryanwilliamquinn commented on #45
Have you checked that the Permission looks correct in sails console, via Permission.find()?

[2015-07-16 13:27] dottodot commented on #45
OK below is the output of Permission.find() but I'm not sure what to look for to know if it's right.

[code]

[2015-07-16 13:31] ryanwilliamquinn commented on #45
That method returns a promise, which is what you are seeing there.  Try this:
`Role.find({name: 'public'}).exec(console.log)`
Take the id from the role and plug it into this query:
`Permission.find({role: theIdFromRole, action: 'read'}).exec(console.log)`

[2015-07-16 13:32] ryanwilliamquinn commented on #45
Actually the second query should look like this:
`Permission.find({role: theIdFromRole, action: 'read'}).populate('criteria').exec(console.log)

[2015-07-16 13:51] dottodot commented on #45
So this is the response...

[code]

[2015-07-16 14:05] ryanwilliamquinn commented on #45
That looks good.  When you tried on the registered role, did you make the request with a registered (logged in) user?

[2015-07-16 15:01] dottodot commented on #45
Yes I logged in as the registered user then made the request.

But just found the cause. It was a combination of me missing adding the Criteria Policy to policy.js (sorry about that) and then I was also sending my response as below for pagination purposes.

[code]
It would seem the criteria policy will only work if sent as
[code]
Is there any way around this? Or is it just a case of me creating a

[2015-07-16 18:23] bsill commented on #5
Here is the problem I am running into, and am wondering if it relates to this issue:

I have a model, DataSource, which has a one-to-many with Schema, as follows:
...
attributes: {
    label  : { type: 'string', required : true, maxLength : 30 },
    produces : {
        collection : 'schema',
        via : 'producedBy'
    }
}

...

I have blueprint populate set to false, such that when I load Da

[2015-07-16 19:47] ryanwilliamquinn opened #87 "Owner attribute should not be editable by non-owners"

[2015-07-16 19:48] ryanwilliamquinn opened #88 "createdby and createdat attributes should not be editable"

[2015-07-17 02:58] #81 closed

[2015-07-17 15:12] khchan opened #89 "Error in sails-permissions hook with sails-mysql"
[Installed: sails@0.11.0, sails-mysql@0.11.0, sails-auth@1.3.1, sails-permissions@1.3.1]

Starting from a new sails app with the latest version of sails-permissions, after lifting with an empty DB, the following error occurs during the User.register step in the user fixture, resulting in the passport and permission tables being empty.  (This behaviour does not occur with sails-mongo)

[code]

[2015-07-17 17:10] tjwebb commented on #89
Try upgrading sails-permissions to 1.3.1.

[2015-07-17 18:40] khchan commented on #89
@tjwebb I've upgraded to 1.3.1, still same issue...

[2015-07-17 18:48] tjwebb commented on #89
What version of sails are you running?

[2015-07-17 18:50] khchan commented on #89
0.11.0

[2015-07-17 19:45] tjwebb commented on #23
docs added to wiki

[2015-07-17 19:45] #23 closed

[2015-07-20 07:30] Benew commented on #70
Would just love to know where to set the environment variables mentioned in the README

[2015-07-20 15:35] ghadeerrahhal opened #91 "Cannot find module sails-auth"
The latest version of sails-permissions results in the following error. To get around this, I reverted to version 1.2.2 which seems to works fine at the moment.

Error: Cannot find module 'sails-permissions/api/hooks/sails-auth'
    at Function.Module._resolveFilename (module.js:336:15)
    at Function.Module._load (module.js:278:25)
    at Module.require (module.js:365:17)
    at require (module.

[2015-07-21 10:46] binchem opened #92 "Would just love to know where to set the environment variables mentioned in the README"
Would just love to know where to set the environment variables mentioned in the README

[2015-07-21 12:02] SteffV opened #93 ".sailsrc file configuration"
Hi Guys,

When i configured the .sailsrc file as follows, as described in the readme I received a cannot find module 'sails-permissions/generator' error:

"permissions-api": "sails-permissions/generator"

However when i removed the generator form the path as follows the generator worked.

"permissions-api": "sails-permissions"

 just a heads up.... :)

[2015-07-21 12:08] #93 closed

[2015-07-21 12:19] khchan commented on #92
You can set them directly via terminal:
[code]
Or set the variables in a config file:
[code]

[2015-07-21 16:03] ftechz commented on #89
I had the same issue. The problem was that it tried to look for the column 'createdBy' which doesn't exist in the junction tables.

I've submitted a pull request for the fix: https://github.com/tjwebb/sails-permissions/pull/94

[2015-07-21 16:07] michelbb commented on #91
I can confirm this problem.

[2015-07-22 11:02] dottodot commented on #91
Yes same for me too.

[2015-07-22 13:14] SteffV opened #95 "Error when using Mysql"
info: Starting app...
info: permissions: initializing sails-permissions hook
debug: sails-permissions: syncing waterline models
debug: sails-permissions: admin user does not exist; creating...
debug: User.afterCreate.setOwner { username: 'admin',
  email: 'admin@example.com',
  createdAt: Wed Jul 22 2015 15:11:30 GMT+0200 (South Africa Standard Time),
  updatedAt: Wed Jul 22 2015 15:11:30 GMT+0200

[2015-07-22 13:16] Benew commented on #92
Thanks a lot. Just missed the permissions object in the local.js declaration.
Close #92

[2015-07-22 13:17] SteffV commented on #95
Nevermind, an issue has already been created for this. My bad :)

[2015-07-22 13:17] #95 closed

[2015-07-22 13:27] khchan commented on #89
Thanks @ftechz this PR fixes my issue.

[2015-07-22 23:08] dbkaplun commented on #91
:+1:

[2015-07-26 23:25] fuzzball1980 commented on #38
https://camo.githubusercontent.com/a2840914d539225aaf8d395397d8dbc488a0740d/68747470733a2f2f6173736574732d63646e2e6769746875622e636f6d2f696d616765732f69636f6e732f656d6f6a692f756e69636f64652f31663434642e706e67

[2015-07-26 23:26] fuzzball1980 commented on #38
:+1:
:+1:
:+1:

[2015-07-26 23:42] fuzzball1980 opened #98 "Can someone help me with a working sample?"
I'm just starting with sails and sails-permission and I can't make it work. All the commands in the Quickstart page runs well, but for some reason no Models/Controllers/Policies are created. I have tried in my Windows 8 laptop and in a ubuntu server from scratch.

Do I need to copy/paste the models/controllers/policies by hand?

Thanks!

[2015-07-27 00:07] ryanwilliamquinn commented on #98
You don't need to copy/paste the models/controllers/policies by hand.

I have a rough draft of an example project walkthrough here: http://threeninetyfive.net/blog/2015/07/14/sails-permissions-by-example/

Any feedback is welcome.

[2015-07-27 00:08] ryanwilliamquinn commented on #70
Here is a rough draft of a sails permissions walkthrough - let me know if this helps:
http://threeninetyfive.net/blog/2015/07/14/sails-permissions-by-example/

[2015-07-27 00:19] fuzzball1980 commented on #98
thank you I will try it!

[2015-07-27 00:28] fuzzball1980 commented on #98
OK, I have followed the steps one by one but nothing, for some reason the models/controllers/policies are no created in my dev environment.

I just see a dependency version warn.

The same happens in a fresh ubuntu server installation. I'm pretty lost here!

D:\Test\reviews>npm install --save lodash
lodash@3.10.0 node_modules\lodash

D:\Test\reviews>npm install --save sails-permissions
npm WARN pe

[2015-07-27 00:37] ryanwilliamquinn commented on #98
I'm seeing a similar problem, checking it out now.

[2015-07-27 00:45] ryanwilliamquinn commented on #98
It looks like we have to update the .sailsrc in my example, so it looks like this now (adding '/generator'), and then re-run `sails generate permissions-api`:
[code]

[2015-07-27 00:50] #21 closed

[2015-07-27 01:03] fuzzball1980 commented on #98
I got the following error after adding /generator like shows in the Quickstarted documentation

error: Error in "permissions-api" generator (loaded from sails-permissions/gener
ator)
C:\Users\cesar\AppData\Roaming\npm\node_modules\sails\node_modules\sails-generat
e\lib\index.js:51
      throw e;
            ^
Error: Cannot find module 'D:\Test\reviews\sails-permissions\generator'
    at Function.M

[2015-07-27 01:08] ryanwilliamquinn commented on #98
Could you update the sails-permissions version in package.json to 1.3.3, we just published a new version.

[2015-07-27 01:18] fuzzball1980 commented on #98
should I run any command after the update?

[2015-07-27 01:21] fuzzball1980 commented on #98
I have updated with version 1.3.3 and run npm install --save sails-permissions again
but I get the same error. IF I change { "generators": { "modules": { "permissions-api": "sails-permissions/generator" } } } back to "permissions-api": "sails-permissions" the error is gone but no files are created

[2015-07-27 01:33] ryanwilliamquinn commented on #98
Okay I will try it on my windows box and see if anything changes.

[2015-07-27 01:35] fuzzball1980 commented on #98
OK, thanks for your help!!

[2015-07-27 01:54] ryanwilliamquinn commented on #98
I get the same error on windows.  Are you able to try it on ubuntu still?  It is working fine for me on osx.  I will keep troubleshooting the windows version.

[2015-07-27 01:56] fuzzball1980 commented on #98
Yes, and I got the same error on ubuntu server 14.10 installing from scratch

[2015-07-27 02:01] fuzzball1980 commented on #98
@ryanwilliamquinn I have run this quickstart (http://theambitious.com/index.php/2015/07/26/sailsjs-sails-permissions-on-linux-quick-start/) in ubuntu and I got the files created!

[2015-07-27 02:03] ryanwilliamquinn commented on #98
Great, I will check it out.

[2015-07-27 02:43] ryanwilliamquinn commented on #98
Well, I was able to replicate it on windows for a little while, then I deleted the node modules and reinstalled, and it all started working.  Nothing really changed, wish I knew more.  I don't do much node stuff on windows, sorry I can't help more.

[2015-07-27 02:50] ryanwilliamquinn commented on #70
fuzzball1980 found this: http://theambitious.com/index.php/2015/07/26/sailsjs-sails-permissions-on-linux-quick-start/

[2015-07-27 02:50] fuzzball1980 commented on #98
I will keep digging on it. Thank you!

[2015-07-27 05:38] fuzzball1980 opened #100 "_hookTimeout after changing from a local MngoDB to postgres in AWS RDS"
Hi, guys, I'm starting doing my first steps with sails and sails-permissions. After following this tutorial http://theambitious.com/index.php/2015/07/26/sailsjs-sails-permissions-on-linux-quick-start/
I changed my adapter to work with a postgres in AWS RDS and I got the following error. I changed the hookTimeout for ORM and the next error was for pubsub, I did the same change and finally I got the

[2015-07-27 14:55] fuzzball1980 commented on #100
More info running --vebose

info: Starting app...
verbose: Setting Node environment...
verbose: Please run npm install coffee-script to use coffescript (skipping for now)
verbose: moduleloader hook loaded successfully.
verbose: Loading app config...
verbose: userconfig hook loaded successfully.
verbose: Exposing global variables... (you can disable this by modifying the properties in sails.config.

[2015-07-28 01:14] ryanwilliamquinn commented on #45
Sorry I didn't respond to this earlier.  You are correct, the 'read' filtering only works if you send it like `res.ok(products)`
The code that does it is here: https://github.com/tjwebb/sails-permissions/blob/master/api/policies/CriteriaPolicy.js#L84

I will keep thinking about how to extend the read attribute filtering.

[2015-07-28 01:21] ryanwilliamquinn commented on #45
@phishy there is a bit of documentation at the bottom of this page about row-level security: https://github.com/tjwebb/sails-permissions/wiki/Managing-Roles-and-Permissions

[2015-07-28 01:30] ryanwilliamquinn commented on #98
@fuzzball1980 Could you try cloning this project, checking out the branch named 'complete', npm installing and running it?
https://github.com/ryanwilliamquinn/sails-permissions-example
I'm curious if that will work on your windows box.

[2015-07-28 01:47] ryanwilliamquinn commented on #38
I've set up a simple app here: https://github.com/ryanwilliamquinn/sails-permissions-example

It has some users, roles, and permissions bootstrapped, so you can see how they are created.

[2015-07-28 02:33] fuzzball1980 commented on #98
@ryanwilliamquinn  it works! any conclusion?

[2015-07-28 03:09] fuzzball1980 commented on #98
If I try to run sails generate permission-api I got the following error

D:\Users\Cesar\Documents\GitHub\sails-permissions-example>sails generate permiss
ions-api
error: Error in "permissions-api" generator (loaded from sails-permissions/gener
ator)
C:\Users\cesar\AppData\Roaming\npm\node_modules\sails\node_modules\sails-generat
e\lib\index.js:51
      throw e;
            ^
Error: Cannot find mod

[2015-07-28 18:45] ahsang opened #102 "How to add new strategies and callback handlers?"
In the passport.js config file what do i write in _.merge(exports,{... if i want to add a new facebook strategy or something.
Also, is there a way i can over ride functions in the super files, in social auth modules etc.
There is only a callback configured for local login. I need to configure it for other strategies too. How do i do that?

[2015-07-30 00:20] fuzzball1980 commented on #98
@ryanwilliamquinn have you changed anything on that project? I 'm still unable to install sails-permissions on windows :-(

[2015-07-30 17:27] #102 closed

[2015-07-30 17:28] ahsang opened #107 "How to implement auto-login after signup?"
I cannot figure out how to automatically login after a user is signed up.

[2015-07-31 13:05] justusbluemer commented on #89
Thank you for reporting this bug, I just spent a couple of hours trying to track down the source of the problem.
I hope the change makes it into the package soon.

[2015-08-06 02:56] BLamy commented on #89
That PR worked great thanks.

[2015-08-06 06:24] maheshchari opened #110 "generate command not working with sails 0.11.0"
When i tried to generate it saying generated but there are no generated files in application directory.
I have tried with both 1.0.19 and 1.3.6 .

[2015-08-06 06:43] maheshchari commented on #110
It throwing

Error: Cannot find module 'D:\work\....\sails-permissions\generator'

[2015-08-06 07:16] jaumard opened #111 "self.use TypeError: undefined is not a function"
Hi,

I'm trying to use this module but when the server start I have this error :

[code]

When I look the passport.js file there no "use" method like the error said. What am I doing wrong ?

[2015-08-06 07:17] maheshchari commented on #110
If i give "permissions-api": "node_modules/sails-permissions/generator" in sailsrc it worked fine ,i am not sure in new version sails they changed path

[2015-08-06 18:38] dapriett opened #113 "sails-permissions hook - installModelOwnership not being applied to orm build"
I have an issue with the (installModelOwnership)[https://github.com/tjwebb/sails-permissions/blob/master/api/hooks/sails-permissions.js#L44] method - it doesn't get called until after orm is loaded, but by that point (buildOrm)[https://github.com/balderdashy/sails/blob/master/lib/hooks/orm/build-orm.js] is already called.  This causes issues with sails mongodb, doesn't correctly parse `createdBy`

[2015-08-06 18:45] dapriett commented on #113
Without the above fix, I end up with something like this
[code]
instead of this
[code]

[2015-08-07 13:06] kulakowka opened #115 "Why did you make GET/logout?"
Explain me why did you make logout using GET /logout ?

It's not safe. Anyone malefactor can insert a picture <img src="http://yousite.com/logout" /> and your users will logged out.

It may be better to do POST /logout ?

[2015-08-07 14:40] dottodot commented on #91
That commit hasn't made any different to the original issue reported.

[2015-08-07 14:41] #92 closed

[2015-08-07 14:52] dottodot commented on #91
OK just found the reason. A previous version of sails-permissions must have installed files in api/hooks, and these need to be removed

[2015-08-07 18:15] #89 closed

[2015-08-07 21:53] jBlack87 opened #116 "Sails-Permissions not adhering to owner relation permission, individual records accessible by all users"
It looks like in the OwnerPolicy, the createdby attribute is set to the id of the authenticated user, and i can confirm that the request is getting updated to the correct ID, but when i try to load records that the user has access to ( the user only has read access to records it created ) I get zero results and createdBy isn't set at all.

I may be missing something here, or is that attribute in t

[2015-08-09 02:03] ksylvan opened #117 "Error: Cannot find module 'lodash' installing on a new sails app."
I created a new Sails application, followed the Quick Start instructions in the README.md and I see this on "sails lift":

    info: Starting app...

    module.js:338
        throw err;
        ^
    Error: Cannot find module 'lodash'
        at Function.Module._resolveFilename (module.js:336:15)
        at Function.Module._load (module.js:278:25)
        at Module.require (module.js:365:17)

[2015-08-09 06:54] jBlack87 commented on #116
Update: I have determined the createdBy attribute wasn't being set due to my sails configuration. I setup a test project with fresh copy of sails, and sails-permissions. It seems that what I want to do specifically, doesn't work.

I want users with role "registered" to be able to create new records for "review" model, and only be able to "read" review records created by themselves. I've set the re

[2015-08-10 16:16] jBlack87 commented on #116
PR #118 seems to fix my problem with the owner not working, and as far as I can tell it really has to be set server side but isn't.

I'm also finding it odd that findRecords seems to always return objects when you pass an id of that record, ignoring permissions and owner relation entirely.

[2015-08-10 18:20] ryanwilliamquinn commented on #116
@jBlack87 Are you sure those are the only roles related to reading that model?

[2015-08-10 18:26] ryanwilliamquinn commented on #116
Regarding ownership, it is not an accident that ownership is not set accidentally.  The creator of the object may not be the owner.  You can manually set the `owner` property when you create a model instance.

[2015-08-10 18:30] jBlack87 commented on #116
ah, so your saying that the proper way to do this is to set owner per model? I guess in my case I wanted it across all models so I hadn't considered that. Thanks! For the single record permission issue, I am just double checking, but I did try it on a fresh install of sails and sails-permissions and it was my understanding that the registered role started with no permissions aside form User model

[2015-08-14 12:23] loulin commented on #113
+1, `createdBy` and `owner` are not automatically set even in db model. [ORM hook](https://github.com/balderdashy/sails/blob/master/lib/hooks/orm/index.js#L65) says
[code]
but I don't know how to reload.

[2015-08-14 16:06] dapriett commented on #113
You can reload by doing `sails.emit('hook:orm:reload');`  Although reload will run the `orm/loadUserModules` again before it `orm/buildsOrm`, which removes any modifications.

[2015-08-19 05:25] tjwebb commented on #116
The possible creator != owner situation is very real, but might also just be a result of me trying to be overly-pedantic in my design. Permissioning is necessarily detail-driven, but I'm open to reconsidering this decision if it's causing confusion. @jBlack87 what are your thoughts?

[2015-08-19 05:35] #116 closed

[2015-08-19 05:38] tjwebb commented on #115
It was added to make logging out easy, but maybe it is too easy. If you can submit a PR that'd be great. Thanks

[2015-08-19 05:41] tjwebb commented on #100
[code]

This won't do what you want it do. I think you want this:
[code]

[2015-08-19 05:43] tjwebb commented on #117
What db adapter are you using?

[2015-08-19 06:54] ksylvan commented on #117
I'm using 'sails-redis'

[2015-08-19 12:10] redBaronNc opened #120 "Error in PermissionService.addUsersToRole"
Hello,
I have found a problem causing some errors in when adding a role to users.
at line 282 of PermissionService.js you use :
role.users.add(_.pluck(users, 'id'));
the problem is that the add function does'nt take arrays as parameter.
You have to look in the array and call add several times instead.
This solved the error I was having:

  addUsersToRole: function (usernames, rolename) {
    if (_

[2015-08-19 14:16] jBlack87 commented on #116
My take on this is that while create != owner  is pretty common, an "out of the box" expectation would be that the owner is set to the user sending the post request, and could then be changed if need be.

[2015-08-19 15:48] ksylvan opened #121 "sails-permissions does not work with sails-redis adapter"
I started with the sails-permissions-example app here: https://github.com/ryanwilliamquinn/sails-permissions-example

It "sails lift"s and I am able to see the splashscreen and when I POST to /auth/local, I get "200 OK" back and an authenticated user.

I have redis running accessible on hostname "db" port 6379.

[code]

Now, apply this diff:

[code]

The only difference is the connection to 'redis

[2015-08-19 16:09] ksylvan commented on #121
Connecting to the redis db, I see this:

    get waterline:user:id:1
    $167
    {"username":"admin","email":"admin@example.com","createdBy":1,"owner":1,"model":5,"createdAt":"2015-08-19T15:46:51.929Z","updatedAt":"2015-08-19T15:46:51.929Z","id":1}

    get waterline:role:id:1
    $115
    {"name":"admin","active":true,"createdAt":"2015-08-19T15:46:51.893Z","updatedAt":"2015-08-19T15:46:51.894Z",

[2015-08-20 05:11] tjwebb opened #122 "apparent logic error?"
https://github.com/tjwebb/sails-permissions/blob/master/api/policies/RolePolicy.js#L37

@ryanwilliamquinn where does `objects` come from? That looks like it can't possibly work. Sanity check is appreciated when you get a chance.

[2015-08-20 09:05] redBaronNc opened #123 "Owner permission on read isn't excluding other users"
Hello
I am trying to understand how a permission with relation set to owner works.
I have 2 users. One of the has the standard "<b>registered</b>" role. The permissions are as I can see:

 	Model 	Action 	Relation
 	Permission 	read 	role
 	Model 	read 	role
 	User 	update 	owner
 	User 	read 	owner

As I understand, that means my "<b>registered</b>"  user should be able to update and read his own

[2015-08-20 13:30] ryanwilliamquinn commented on #122
Looks like a bad merge, I will try to patch it back together.

[2015-08-21 06:36] jacobfunch commented on #123
I can confirm this. I did a bit more testing and it seems that UPDATE works as expected.

**Action "update"**

Model | Action | Relation | Role
------------ | ------------- | ------------- | -------------
3 | update | role | admin
3 | update | owner | registered

As expected: When user is registered he is not allowed to update foreign rows, but his own.

**Action "read"**

Model | Action | Relatio

[2015-08-21 07:44] jamesjwarren opened #124 "Not authorised to perform action returns 400"
When accessing a resource that is not permitted a `400` status code is returned. This suggests a incorrectly formatted request, the status code for an un-authorised request should instead be `403 Forbidden`.

Further debugging suggests it could be from [this line](https://github.com/tjwebb/sails-permissions/blob/master/api/policies/PermissionPolicy.js#L40), as it is returning `badRequest` if no pe

[2015-08-23 03:12] machineghost opened #126 "Unknown policy, "basicauth" After Following Instructions"
I tried to follow the instructions at:

https://www.npmjs.com/package/sails-auth

But when I tried to `sails lift` after following all of those steps the command failed, with the following error:

    error: Unknown policy, "basicauth", referenced in `config.policies`.
    error: Are you sure that policy exists?
    error: It would be located at: `C:\Users\Me\WebstormProjects\proj\testProj\api\pol

[2015-08-23 18:06] jamesjwarren opened #127 "Possibility to set dynamic criteria on a permission"
### Use case
A `User` is part a member of a `Group` and should only be granted read access to records belonging to that `Group`.

###  Example
PermissionService.grant({
  role: role.id,
  model: modelEntity.id,
  action: permission.action,
  criteria: { where: { group: 1 }, blacklist: ['group'] }
});

Instead of `group: 1` above, it would be useful to have some way of extracting this from the curr

[2015-08-23 21:37] ryanwilliamquinn commented on #127
In the current state of sails-permissions, the only way to solve this problem is to have a role for each group, and assign users to the appropriate role.  We are working on making the criteria more dynamic.

[2015-08-23 21:42] ryanwilliamquinn commented on #126
@machineghost I just set up an example project to test it, and it worked fine.  I'm using osx, sails version 0.12.0-rc3.

What does your `api/policies/` folder look like?

[2015-08-23 21:45] ryanwilliamquinn commented on #123
Hmm, if that is true, it is not functioning as expected.  Ownership relation should only give you access to objects that you own.  I will take a look and get back to you.

[2015-08-23 21:47] ryanwilliamquinn commented on #120
Thanks for pointing that out.  If you have a pull request, that would be great, otherwise I can take care of it.

[2015-08-23 21:48] ryanwilliamquinn commented on #98
@fuzzball1980 did you ever find a solution to your windows issue?  I am going to close this issue, since there are a couple working examples now.

[2015-08-23 21:48] #98 closed

[2015-08-23 21:49] #70 closed

[2015-08-23 21:53] ryanwilliamquinn commented on #30
I haven't seen this error for a while now.

[2015-08-23 21:53] #30 closed

[2015-08-24 15:50] dottodot commented on #124
Yes I'm seeing the same issue, needs to be a ```403``` response.

[2015-08-24 16:38] ksylvan commented on #32
:+1:

[2015-08-24 19:08] 1ewallace1 commented on #98
I was getting that same windows issue.

I changed .sailsrc to:
[code]

Emphasis on the **node_modules/**

Hope that helps.

[2015-08-24 22:55] jamesjwarren commented on #127
Thanks for the heads up, sounds interesting.

[2015-08-25 03:42] machineghost commented on #126
/**
 * sessionAuth
 *
 * @module      :: Policy
 * @description :: Simple policy to allow any authenticated user
 *                 Assumes that your login action in one of your controllers sets `req.session.authenticated = true;`
 * @docs        :: http://sailsjs.org/#!/documentation/concepts/Policies
 *
 */
module.exports = function(req, res, next) {

  // User is allowed, proceed to the next po

[2015-08-25 13:00] Benew opened #129 "Don't force blueprints populate option to false"
Hi! I really need the populate option set to true. Why has it been set to false globally? Can I override that without any trouble? I guess not...

[2015-08-25 13:01] ryanwilliamquinn commented on #126
which version of sails-permissions do you have installed?  if it is in the 1.3 or 1.4 range i would expect more files than that there.  i would try re-installing sails permissions in that case.  what does your .sailsrc file look like?

[2015-08-25 18:04] jamesjwarren opened #130 "Conflicting custom find blueprints"
Custom find blueprints that don't directly return the data from waterline conflict with sails permissions.

## Example
A blueprint that returns:  `{ items: [], _pagination: { ... } }` will cause it to fail.

More details: http://stackoverflow.com/questions/32198437/criteria-permission-with-sails-permissions

[2015-08-26 09:24] Sriram-27727 opened #131 "How to remove default roles and permissions?"
I just want create custom roles and permissions ans remove default roles and permissions. If anyone knows pls help me

[2015-08-27 00:20] ksylvan opened #132 "PUT Rest API does not seem to work."
From the documentatoin:

"With sails-permissions, new Users should only be created through the sails.js REST API, e.g.

    POST /user
    {
      username: 'tjwebb',
      email: 'me@traviswebb.com',
      password: 'test1234'
    }

And I managed to create a new user ("kayvan") via POST to /user (while authenticated as admin).

    sails> User.findByUsername('kayvan').then(console.log)
    sails

[2015-08-27 01:15] ryanwilliamquinn commented on #123
Are you sure there aren't any other existing permissions?  I took a quick look at this, and it is working as expected.  Non-admin users only see themselves.  Here are the related permissions:

[code]

[2015-08-27 08:27] redBaronNc commented on #123
Hello, I checked again.
My user has the registered role only.
the registered role only has 2 permissions on the user model (id:4):
[
  {
    "model": 4,
    "role": 2,
    "action": "update",
    "relation": "owner",
    "id": 19,
    "createdAt": "2015-07-09T10:09:24.452Z",
    "updatedAt": "2015-07-09T10:09:24.452Z"
  },
  {
    "model": 4,
    "role": 2,
    "action": "read",
    "relation": "o

[2015-08-28 00:57] ryanwilliamquinn commented on #123
Thanks for uncovering this, it was related to an issue with how waterline treats 'findOne' blueprint routes.

[2015-08-28 01:28] ryanwilliamquinn commented on #132
1) Why isn't the admin user authorized to PUT on some other user record?
I was able to PUT on different user records with an admin user without issue, I'm not sure why it isn't working for you.  Does it work if you try to change the username, rather than set a password?
2) The admin password is set via an environment variable - ADMIN_PASSWORD.  I don't know of a built-in way to change the password

[2015-08-28 05:07] ksylvan commented on #132
Authenticated as "admin" (user id 1), I I was not able to PUT to /user/2 to change username, but I was able to do the exact same PUT to /user/1 (changed the username to "adminadmin").

I've followed the sails-permissions setup, and trying to figure out what I might be doing wrong here. config/policies.js looks like this:

    module.exports.policies = {
      // sails-permissions setup
      //

[2015-08-28 18:28] ksylvan commented on #132
Okay, I see about changing passwords. In the sails console, I can do things like:

    sails.models.passport.update({protocol: 'local', user: 2}, {password: 'admin12345'}).then(console.log)

And that works because of the lifecycle callback. However, how do I only give access to an authenticated user to be able to change only their password, and for the admin user (to be able to change anyone's pas

[2015-08-28 18:33] ryanwilliamquinn commented on #132
I would try `PUT` to a url like /user/:id/pwreset.  In that case you would need a permission for registered users to update 'User', with relation 'owner'.  The admin user should have permissions for that already.  I'm unsure why that isn't working for you.  I will try to test that later today.

[2015-08-28 18:40] ksylvan commented on #132
Thank you.

I don't see any relation: 'owner' in the default permissions set when I do

    Role.find({name:'admin'}).populate('users').populate('permissions').then(console.log)

The only thing I see is relation: 'role'

[2015-08-28 18:42] ryanwilliamquinn commented on #132
Yeah, the admin user should have 'role' permissions.  Role permissions mean you have permissions on any of the models.  Try this:
`Role.find({name:'registered'}).populate('users').populate('permissions').then(console.log)`

[2015-08-28 18:52] ksylvan commented on #132
I see this (formatted for clarity):

    users:
      - admin (createdBy: 1, owner: 1, model: 5, id: 1)
      - kayvan (createdBY: 1, owner: 2, id: 2)
    permissions:
      - model: 3, action: read, role: 2, relation: role
      - model: 2, action: read, role: 2, relation: role
      - model: 5, action: update, role: 2, relation: owner
      - model: 5, action: read, role: 2, relation: owner

[2015-08-28 19:07] ryanwilliamquinn commented on #132
Could you tell me the names of the models?  ie:
`Model.find(5, {select: ['identity']}).then(console.log)`

[2015-08-28 19:18] ksylvan commented on #132
[ { identity: 'user' } ]

[2015-08-28 19:21] ksylvan commented on #132
Model.find({}, {select: ['id', 'identity']}).then(console.log)

    [ { id: 1, identity: 'host' },
      { id: 2, identity: 'model' },
      { id: 3, identity: 'permission' },
      { id: 4, identity: 'role' },
      { id: 5, identity: 'user' } ]

[2015-08-28 19:36] ryanwilliamquinn commented on #132
So, this should work.  The registered role has update permissions on `user` when they are the owner.  Admin user has update permissions on `user

[2015-08-28 19:48] ryanwilliamquinn commented on #132
What versions of sails permissions and sails auth are installed?

[2015-08-28 19:54] ksylvan commented on #132
$ npm list|grep sails
    ├── grunt-sails-linker@0.9.6
    ├─┬ sails@0.11.0
    │ ├── sails-build-dictionary@0.10.1
    │ ├─┬ sails-generate@0.12.3
    │ │ ├── sails-generate-adapter@0.10.5
    │ │ ├── sails-generate-api@0.10.0
    │ │ ├── sails-generate-backend@0.12.2
    │ │ ├─┬ sails-generate-controller@0.10.8
    │ │ ├── sails-generate-frontend@0.11.5
    │ │ ├── sails-generate-generator@0.10.

[2015-08-28 19:58] ryanwilliamquinn commented on #132
So yeah, this should work fine.  If you create a new route that starts with /user (ie /user/:id/password), it should be governed by user permissions.  Does that make sense?

[2015-08-28 20:04] ksylvan commented on #132
I don't know why I am getting a 404 when doing a PUT to /user/2 (as admin) to change username, but the exact same PUT to /user/1 succeeds.

[2015-08-28 20:21] ryanwilliamquinn commented on #132
Is there a user with id 2?

[2015-08-28 20:22] ryanwilliamquinn commented on #132
Can your admin user `GET /user/2`?

[2015-08-28 20:25] ksylvan commented on #132
Yes. I get this response:

    {
      "createdBy": 1,
      "owner": 2,
      "username": "kayvan",
      "email": "kayvansylvan@gmail.com",
      "createdAt": "2015-08-28T04:56:43.723Z",
      "updatedAt": "2015-08-28T04:56:43.750Z",
      "id": 2,
      "gravatarUrl": "https://gravatar.com/avatar/7277dbbb5e7309fb4b2e302043b3b1eb"
    }

[2015-08-28 20:47] ksylvan commented on #132
I removed the "How to update password?" part of the title, since that seems to be a separate issue and can be dealt with by a special user action/endpoint. The generic "Why can't admin PUT to /user/:id" question still remains.

[2015-08-29 01:06] ksylvan commented on #132
@ryanwilliamquinn Did you get a chance to look at why the PUT with { username: "newusername" } does not work with /user/2 but works as expected with /user/1?

[2015-08-29 01:27] ksylvan commented on #132
Tried again with a clean clone of your sails-permissions-example repo.

1) "sails console" to get the server up.

Users created with IDs: {admin = 1, travis = 2, venise = 3}

2) Using POSTMAN, GET /user/1 => "You are not permitted to perform this action."

3) POST credentials to /auth/local => authenticated successfuilly as "admin"

4) GET /user/1 => Get the user 1 record as json.

5) GET /user/2

[2015-08-29 01:57] ksylvan commented on #132
The other puzzle is figuring out why the status code for the offending PUT is 404 (not found) rather than 403 (not permitted).

[2015-08-29 04:44] wadeos commented on #123
I also have this issue, registered users can only find themselves using findWhere. but if you pass a user id on the findOne it will return any user.

[2015-08-29 15:55] ryanwilliamquinn commented on #132
You can do some debugging in the sails-permissions policies in your project to see what is going on.  Log the permissions and results of findTargetObjects in node_modules/sails-permissions/api/policies/permissionPolicy and rolePolicy.  If your project is on github, I can try to pull it down and debug it.

[2015-08-29 16:03] ryanwilliamquinn commented on #131
You can delete all the roles and permissions from the database, or via the sails console, and create new ones.

via sails console:
[code]

[2015-08-29 18:47] machineghost commented on #126
Re-installing sails-permissions fixed things!  Thanks for the help.

[2015-08-30 10:39] Sriram-27727 commented on #131
Thank you ryanwilliamquinn.

[2015-08-30 21:44] ksylvan commented on #132
Okay, I finally was able to reproduce the problem. I think my problem may be with queries and how they interact was with the way I am using the sails-disk adapter.

In connections.js, I had added:

      localUserDb: {
        adapter: 'sails-disk',
      },

And then I had in api/models/User.js, I have:

    connection: 'localUserDb'

The localUser.db and localDiskDb.db are created in .tmp, and e

[2015-08-30 21:59] ksylvan commented on #132
Here's a sample application that demonstrates the issue:

https://github.com/ksylvan/sails-permissions-debug

[2015-08-30 22:42] ryanwilliamquinn commented on #132
Thanks, I will take a look at it now.

[2015-08-30 23:20] ryanwilliamquinn commented on #132
I think the problem may be related to having two different sails-disk adapters defined.  I was able to update users after doing the following steps:
1. delete all the local disk dbs in projectDirectory/.tmp/
2. delete the localUserDb connection from config/connections.js
3. delete the line in api/models/user that specifies it should use the localUserDb
4. in config/env/development.js,  set the `mo

[2015-08-30 23:21] ryanwilliamquinn commented on #132
Do you need to have multiple sails-disk databases for any reason?

[2015-08-30 23:36] ksylvan commented on #132
My thinking was that having multiple disk files would make it easier to save/restore databases later.

Yes, of course I can remove the localUserDb and it works just like your sails-permissions-example repo.

The problem I have is that changing the ORM/connections layer should not have an effect on the queries and routes like that.

What if you want to store all your Users in one database (say, som

[2015-08-30 23:53] ksylvan commented on #132
This seems like a bug (not sure it's with sails-permissions or the waterline/ORM modules of sails in general). Especially when you consider that GET /user/2 works as expected, but PUT /user/2 fails with a 404 (not found) status.

[2015-08-31 00:01] ksylvan commented on #117
Created a new issue for the sails-redis adapter problem.

https://github.com/tjwebb/sails-permissions/issues/121

Closing this one.

[2015-08-31 00:01] #117 closed

[2015-08-31 01:21] ryanwilliamquinn commented on #132
I agree.  If I revert back to sails-permissions v1.3.1 updating works fine.  I will try to track down where exactly it breaks.  Thanks for your help uncovering this issue.

[2015-08-31 01:26] ksylvan commented on #132
You are welcome. I'd be happy to test your fix when you track it down.

[2015-08-31 07:35] tjwebb commented on #132
@ksylvan surely you're not using sails-disk in production. If you are, that's not a good idea.

[2015-08-31 15:07] ksylvan commented on #132
@tjwebb No, I'm not. Thanks for asking.

This is all while I'm developing the app. In the end, I'll probably use something like redis. This is an internal app and has very light requirements on the database backend in terms of queries and storage.

I have another issue open with sails-permissions and redis (https://github.com/tjwebb/sails-permissions/issues/121).

[2015-08-31 16:03] tjwebb commented on #132
@ksylvan understand. Since redis isn't a persistent datastore, we've not tested on it much. Do you have a permanent datastore in which you're storing your permissions?

[2015-08-31 16:11] ksylvan commented on #132
@tjwebb Actually, redis is a perfectly fine persistent store for low-volume apps such as the one I'm creating. It drops an rdb file in /data at regular intervals.

I'll probably use mysql or progresql if I get to the point that I need a bigger/better backend database.

[2015-08-31 16:19] #132 closed

[2015-08-31 16:29] tjwebb commented on #132
@ksylvan if you move to a more typical setup and still have issues, let us know. Your setup is extremely specific and fussy.

1. sails-disk should never, ever be used outside of a development scenario. For example, once you reach more than about 1,000 records, sails-disk will probably crash.
2. redis is not designed as a persistent datastore, and none of our projects test it as if it were. sails-p

[2015-08-31 16:38] ksylvan commented on #132
Okay, no problem, and thank you for looking into it. I opened the issue on the PUT/GET weirdness, and I'm happy to help in whatever way to debug and make the code better. Like I said earlier, I don't think that a config change at the connections/ORM layer should affect routes and the REST functionality, so the issue still points to a bug.

As a practical matter (to keep moving forward on my app),

[2015-08-31 17:01] tjwebb commented on #132
Exactly. If sails-permissions works with other adapters, then it points to a bug in the adapters you're using, or your configuration, or both.

[2015-08-31 17:40] ksylvan commented on #132
The only configuration change (as reproduced above with the example app I started from scratch) was having multiple sails-disk adapters. As @ryanwilliamquinn noted above, if he reverts to using sails-permissions 1.3.1, the GET and PUT routes and permissions work as one would expect (even with the odd configuration).

So, while I agree that there are probably bugs in the sails-redis adapter or perh

[2015-08-31 18:13] tjwebb commented on #132
This is irrelevant. Because some previous version of sails-permissions does not expose the same bugs in other modules does not mean that that version of sails-permissions *fixes* any sort of problem.

We can go in circles about this all day. If you use a `this-might-break-things` configuration, stuff might break. The REST API is directly tied to the correct functioning of the adapters.

[2015-08-31 18:26] ksylvan commented on #132
Okay, fine. I guess the conclusion of this discussion is:

1. Use the recommended/most common configuration setup, and...
2. If you find some non-standard config breaks something, propose a fix/pull-request.

Do I have that right? :-)

[2015-09-01 00:08] jaime-franco opened #138 "How to config facebook auth?"
I added facebook provider into config/passport.js

[code]

But for some reason i get a not found everytime i test /auth/facebook i get redirected to /login, is there any other configuration that should be done? for make facebook auth work?

[2015-09-01 09:39] sylvainlap opened #139 "Unknown policy"
I tried to install sails-permissions on a fresh sailsjs install, and I've got this error:

    error: Unknown policy, "basicauth", referenced in `config.policies`.
    error: Are you sure that policy exists?
    error: It would be located at: `/home/sylvainlap/DEV/WORKSPACE/permissions/api/policies/basicauth.js`

I followed the README:
    npm install sails-permissions sails-auth

So I use the las

[2015-09-01 14:51] sylvainlap opened #140 "/users/me returns 500"
Hi,

After being successfully logged in thanks to BasicAuth, a GET to /users/me (my API is pluralized) returns:

    error: Sending 500 ("Server Error") response:
     TypeError: Cannot read property 'id' of undefined
        at /home/sylvainlap/DEV/WORKSPACE/ADaM/node_modules/sails-permissions/api/services/PermissionService.js:430:25
    From previous event:
        at /home/sylvainlap/DEV/WORKSP

[2015-09-01 15:38] sylvainlap opened #141 "The 'user' relation"
For one Permission, the relation can be 'role', 'owner' or 'user'.
I understand the role & owner permissions, but what about the user relation ? There is no documentation on that type of relation.

Thanks !

[2015-09-02 11:37] ayyappaappana commented on #16
Still error:
-------------
debug: marlinspike (permissions): loading Models...
debug: marlinspike (permissions): loading Controllers...
debug: marlinspike (permissions): loading Policies...
error: Unknown policy, "basicauth", referenced in `config.policies`.
error: Are you sure that policy exists?

Node Version: v0.12.7
NPM Version: 2.11.3
Sails Version:0.11.0

Please guide me how to resolve this

[2015-09-02 12:38] ryanwilliamquinn commented on #16
what versions of sails permissions and sails auth are installed?  That example is based on sails-permissions and sails-auth 1.x

[2015-09-02 12:42] ayyappaappana commented on #16
@ryanwilliamquinn
  "sails-permissions": "^2.0.3"
  "sails-auth": "^1.3.1"

Copied from packages.json

[2015-09-02 12:47] ryanwilliamquinn commented on #16
Run `npm install --save sails-permissions@1.x` in your project if you want to follow along with that tutorial.  I will try to update it for sails 2.x soon.

[2015-09-02 13:08] ayyappaappana commented on #16
I used the below command but still it shows,

npm install --save sails-auth@1.x sails-permissions@1.4.2

after some random system trails i found that

"sails-permissions": "^1.4.2" this version is working perfect for my concern, but it was a random linux environment, cant track how this version is installed in that PC, can you guide how to install the exact version of sails-permissions, the same i

[2015-09-02 13:12] ryanwilliamquinn commented on #16
did you redo the tutorial from the beginning using sails-permissions@1.4.2?

[2015-09-02 13:20] ayyappaappana commented on #16
Thanks so much, it is working fine for now, but its better to update for 2.x also and big smile for quick response.

[2015-09-02 16:33] ronky commented on #126
Re-installing didn't help.

Tried:

Windows 8.1 x64
Sails 0.11.0 + Node 0.12.6 + Npm 2.11.2 + Sails Permissions 2.0.3 + Sails Auth 2.0.0-alpha2

Linux Mint 17.1 x64
Sails 0.11.0 +  Node 0.10.37 + Npm 1.4.28 + Sails Permissions 2.0.3 + Sails Auth 2.0.0-alpha2

[2015-09-02 16:53] ronky commented on #126
Tested again on linux mint 17.1 with newest node  v0.12.7 and npm 2.11.3 and it still does not work.

Steps (all as root, I lost patience):
* downloaded newest node and unpacked to /opt/node...
* set symlinks for node and npm so i can call them from terminal
* npm install -g sails
* sails new testPerm
* cd testPerm
* npm install sails-permissions sails-auth --save
* added "permissions-api": "sails

[2015-09-03 07:00] ayyappaappana commented on #126
Yes @ronky

There is a problem with version 2.x with sails-permissions

Follow the steps but change sails-permissions with below line
npm install sails-permissions@1.4.2 sails-auth --save

There is a version problem, expected should work with 1.4.2 version.

[2015-09-03 07:08] ayyappaappana opened #142 "Forbidden Services"
Hi All,

Any one got issue forbidden,

Basic Steps followed to create an endpoint, it is working fine in local linux system,

Inside controller nothing i written, I am trying to hit

http://localhost:1337/student/create ( Insertion with sample JSON is working fine).

http://xyz.amaxonweb.com/student/create( throwing 403 forbidden error).

No error log. where the error log is storing, in config/log

[2015-09-05 04:24] ksylvan commented on #140
I'm getting the same, using the normal /auth/local API.

Using POSTMAN to POST to /auth/local: { identifier: kayvan, password: test1234 }

    sails> info: user { owner: 3,
      email: 'kayvan.sylvan@disney.com',
      username: 'kayvan',
      createdAt: '2015-09-05T03:41:18.475Z',
      updatedAt: '2015-09-05T03:41:18.503Z',
      id: 3 } authenticated successfully

And now, GET to /user/me, an

[2015-09-05 22:21] ksylvan commented on #140
Putting in some logging and trying to figure out where this is coming from.

    error: Sending 500 ("Server Error") response:
     TypeError: Cannot read property 'id' of undefined
        at /usr/src/app/node_modules/sails-permissions/api/services/PermissionService.js:433:25

[2015-09-06 15:26] dottodot opened #143 "Row Level Security on populated associations"
Is it currently possible for row level security to be applied to populated associations? It works on find and findOne but not in populations.

[2015-09-06 19:57] garrettboatman opened #144 "Error making requests: TypeError: Cannot read property 'initialize' of undefined"
Followed the quickstart docs. Starting the server outputs:
[code]

The server still starts fine, but making any request outputs:
[code]

Any ideas?

[2015-09-07 00:07] ksylvan commented on #140
I managed to avoid the problem by pinning my sails-permissions version to 1.4.2 (it had auto-updated to 1.4.3), so that would be the place to look for what changed.

So, with 1.4.2, /user/me is returning the user object of the authenticated user.

With 1.4.3, I am getting the behavior above.

[2015-09-07 09:41] KashmirTheOne commented on #144
I have the same problem with
<code>error: TypeError: Cannot set property '_modelCache' of undefined</code>
Even in a clean project

Notes:
I'm in Sails 0.11

[2015-09-08 09:05] maissani opened #145 "sails-permissions waterlock compatibility"
There is an issue with sails-permissions and waterlock generators that can not be used as the same time.

[2015-09-08 09:14] maissani opened #146 "lodash has to be included on depedencies"
Some people encounters this issue :
On fresh sails project, they install sails-permissions and when they try to start sails with the sails-disk adaptater the following error stop the sails lift command:
Cannot find module lodash.

This issue can be fixed by : npm install lodash --save for poeple that encounter this error and with sails-permissions library by adding definitively lodash to your depe

[2015-09-08 09:37] maissani commented on #146
I see that you already include it to the depedencies but there is an issue with windows (lodash as to be manualy installed )

Sorry,

Best Regards.

[2015-09-08 09:37] #146 closed

[2015-09-08 19:18] ryanwilliamquinn opened #147 "Create migration guide from 1.4.x to 2.0.x"

[2015-09-08 19:19] #124 closed

[2015-09-09 07:32] dottodot opened #149 "Owner / createdBy not working on all models"
For some reason only some of my models are being populated with the owner and createdBy attributes and I've not set ```autoCreatedBy``` to ```false``` anywhere. Is there any other reason why this would be happening?

[2015-09-09 14:24] pasine opened #150 "Fix readme to avoid installing sails-auth 2.0"
Following the readme instructions

[code]

`npm` will install `sails-permissions: 1.4.4` and `sails-auth: 2.0.0`, that looks not to be working well together.
I guess this is a temporary issue since both modules will be migrated to version 2, but can cause a lot of headaches by now.

[2015-09-09 15:03] dottodot opened #151 "res.ok returns 404 when no records found"
When using ```find()``` and ```res.ok``` I'm getting a 404 when no records are found which isn't the ideal response when retrieving multiple models. So as a work around I'm having to do the following

[code]

[2015-09-09 20:44] wadeos commented on #145
Long story short, It's not possible at this time. It's not a problem with sails-permissions, but rather it's authentication dependancy sails-auth. sails-auth provides basic and cookie authentication. Where as waterlock provides jwt based authentication. To use these two libraries side by side you will have to fork and modify sails-permissions to not depend on sails-auth.

[2015-09-10 01:45] ryanwilliamquinn commented on #151
Which version of sails permissions are you using?

[2015-09-10 01:47] ryanwilliamquinn commented on #151
I think this issue is solved by this PR: https://github.com/tjwebb/sails-permissions/pull/105/files

@tjwebb we should merge that in

[2015-09-10 01:50] ryanwilliamquinn commented on #151
I think this PR will solve the issue: https://github.com/tjwebb/sails-permissions/pull/105

@tjwebb lets merge that in

[2015-09-10 01:53] ryanwilliamquinn commented on #149
Depending on which version of sails-permissions you are using, owner is not always set on the models.  createdBy should be more consistent.  Do you have any more information about which models get owner/createdBy and which don't?  Are the ones that aren't getting owner/createdBy being created through the rest api?

[2015-09-10 01:53] ryanwilliamquinn commented on #144
Which versions of sails-permissions and sails auth are installed?

[2015-09-10 01:58] ryanwilliamquinn commented on #143
Could you give an example of what you are trying to do?  From what you say, I assume it is something like , in a query like this: `Store.find(3).populate('widgets')`  -only retrieve widgets that you have permissions to read.  If that is correct, this is not currently supported.

[2015-09-10 02:02] ryanwilliamquinn commented on #141
That is a relatively new feature, we should add some documentation on it.  The basic idea is, if you have a permission that is only going to be assigned to a single user, there is no point in creating a role.  It is an enhancement to reduce creating unnecessary role objects.

[2015-09-10 03:46] ryanwilliamquinn commented on #140
Thanks for the help debugging @ksylvan, it made my job much easier.

Fix is in this PR: https://github.com/tjwebb/sails-permissions/pull/152

[2015-09-10 03:47] ryanwilliamquinn commented on #122
This was resolved in 1.4.3

[2015-09-10 03:47] #122 closed

[2015-09-10 04:17] ryanwilliamquinn commented on #120
https://github.com/tjwebb/sails-permissions/pull/153

[2015-09-10 05:55] ksylvan commented on #140
Great. I verified the fix by "npm install --save https://github.com/sails-permissions" since the PR was merged into master.

So the next version of sails-permissions 1.4.x will have the fix in it.

[2015-09-10 06:56] dottodot commented on #143
I referring to when you blacklist an attribute on a model. For example if I was to blacklist the title attribute on ModelB and did ```ModelB.findOne(1)``` the title attribute is removed, but if I do ModelA.findOne(1).populate('modelb')``` the title attribute is not removed.

[2015-09-10 07:16] sylvainlap commented on #141
Ok, thanks!

[2015-09-10 07:16] #141 closed

[2015-09-10 07:23] dottodot commented on #149
I'm using v1.4.4

I have a backbone app so yes it is using a rest api but the creation of models on ones that do and don't have the owner/createdBy are handled by a Sails Controller anyway i.e ```Model.create```

I've been using sails-permissions on this app for some time so could there be something left from a previous version causing it not to work.

Also are there any guidelines as to when and

[2015-09-10 07:26] dottodot commented on #151
Yes just tried that PR and it works now.

[2015-09-10 07:26] #151 closed

[2015-09-10 07:45] #130 closed

[2015-09-10 08:12] maissani commented on #145
You have created a package that can be a must have for sails.

I think that Permissions does not have to provide, auth features.
It's the work of Passport or Waterlock to handle it.

Permissions has a perimeter for policies,roles and user but must not handle authentification.
Basicly at least you have to provide the choice of using sails-auth or waterlock as depedency.
But that's not the problem,

[2015-09-10 15:52] mikedevita commented on #150
definitely threw me through a loop the other day for a bit..

[2015-09-11 01:01] ryanwilliamquinn commented on #149
On previous versions, owner was only created if it was set manually, but that was changed in a recent pull request: https://github.com/tjwebb/sails-permissions/pull/118

Looks like the first version it was included was 1.4.0

[2015-09-11 07:49] wadeos commented on #145
This package is maintained by @tjwebb at balderdash not me. So you will have to wait for his response. However I do agree with you, not every one wants basic and cookie authentication. But as this is being rapidly developed into 2.0. It's hard to expect the sails-auth dependancy to be removed anytime soon.

[2015-09-11 16:14] tjwebb commented on #145
@maissani

Using sails-permissions with Waterlock was never a design consideration of this module. For starters, I have no idea what a "waterlock generator" is. If you'd like to help resolve this, PRs are welcome.

[2015-09-11 16:14] #145 closed

[2015-09-12 17:44] jaumard opened #154 "Extend permission to routes/functionalities"
Hi,

It would be nice to use all of this great work to protect routes or a simple functionality. For example if I want to disable file update for some users it would be cool to set a permission like
[code]
Or
[code]
If a Permission is set to a route the default action is to deny to all other roles. Like this if route is forbidden user can't have access to it and if I want to use "functionality" I

[2015-09-13 01:19] mikedevita opened #155 "update documentation to include grant relation: 'owner'"
I noticed the grant doesn't have an owner example..

By doing something like this...

[code]

i was able to add a permission to the registered role that only allows "owner" to update their records.

[2015-09-13 01:56] mikedevita commented on #149
i have a question, why do we use `owner` instead of `createdBy` aren't they synonymous.

[2015-09-13 02:06] ryanwilliamquinn commented on #149
Theoretically, the owner of an object does not necessarily have to be the entity that created it.

[2015-09-14 13:52] ronenteva opened #156 "Cannot find module sails-permissions\generator"
I've never used the .sailsrc file before, so it could be something that I did wrong, but I think the documentation should be updated to make it more idiot-proof.

running `sails generate permissions-api` resulted in:

    Error: Cannot find module 'C:\Source\app\sails-permissions\generator'

Adding `node_modules` to the .sailsrc line fixed the issue:

    {
      "generators": {
        "modules":

[2015-09-15 01:38] imfly opened #158 "An error when run 'sails www --prod'"
Hi,
I find an error when I execute `sails www --prod`

The logs:

[code]

Can anyone know how to resolve this?

Thx

[2015-09-15 01:43] imfly commented on #158
I think if the `sails`  exists only when the application is running.

[2015-09-15 15:23] grego3 opened #159 "Typo in Permission Service breaks removeUsersFromRole()"
There is a typo on line 353 of `api/services/PermissionService` that breaks the `removeUsersFromRole()` function in the Permission Service. This bug essentially renders this function useless and doesn't allow for a convenient way to revoke roles from users.

Line 353 currently reads:
`role.users.remove(user.id);`

It **should** read:
`role.users.remove(users.id);`
*Note the change from `user.id` t

[2015-09-15 15:27] grego3 commented on #159
Sorry, just realized this appears to be fixed in 2.0.0-alpha.

[2015-09-20 19:25] johnbailon commented on #115
https://github.com/tjwebb/sails-auth/pull/94

[2015-09-20 19:51] johnbailon commented on #150
Because this installs incompatible sails-auth@2.0.0, you will get this error:
 ```Error: Unknown authentication strategy "local"```, so be sure to install 1.3.1.

[2015-09-21 03:26] achernyak commented on #156
You should omit the `node_modules` part in your path. It should just be `sails-permissions/generator`

[2015-09-21 05:27] stewhouston commented on #156
Can confirm OP's results. Without "node_modules/" in the .sailsrc an error is thrown, unless we're both doing something wrong.

[2015-09-21 06:00] tjwebb commented on #156
@stewhouston @ronenteva are you guys both using Windows?

[2015-09-21 06:20] stewhouston commented on #156
@tjwebb It is the bane of my existence (... yes.)

[2015-09-21 06:53] tjwebb commented on #156
Yea I've seen this issue before in other (unrelated) projects. I think it's a bug in node.js, since the behavior on linux and windows is different.

[2015-09-21 06:53] #156 closed

[2015-09-21 09:49] ronenteva commented on #156
Yes, I'm using windows too.
Is it an issue with the .sailsrc file or unrelated?
I can't find any reference to such issue by using Node on windows, perhaps you can refer us to a starting point?

[2015-09-22 15:15] ryanwilliamquinn commented on #159
Thanks for bringing this up.  This is fixed in master and in 2.0.

[2015-09-22 15:15] #159 closed

[2015-09-25 23:55] fenos opened #162 "sails-permissions standalone"
Hi, this package seem brilliant, I have a project with sails which has a custom authentication, would be possible to use `sails-permissions` without depending on `sails-auth`? It would be amazing

[2015-09-28 14:48] s-devaney commented on #139
I think it's a bug with the generator. I just created the missing policy myself.

[2015-09-28 14:49] s-devaney commented on #107
+1

[2015-09-28 21:35] dustmoo commented on #92
Is it just me? Or in sails 0.11.2 is the permission object missing from local.js? Refactored out to its own permissions.js config file? Exporting these vars is fine. But sails.config doesn't work in ANY of the config *.js files that I can tell.

[2015-09-29 22:47] lakinoheat opened #163 "Extending associations in Models cannot be done"
I am working out a Dynamic Menu in which sails-permissions is used and while i try to bring a many to many association with Menu model and Role model by extending an association 'menus' in Role Model.
But while lifting, it shows error

  throw new Error(error);
          ^
Error: on mapping custom foreign keys: menu->role. Attribute: `menus` does not exist on: collection: `role`

can someone pleas

[2015-09-30 08:08] sylvainlap opened #164 "User permission have the relation set to "role""
When I create a Permission linked to a user, the "relation" attribute is set to "role", instead of "user".
Example:
[code]

[2015-10-02 13:54] tschneid commented on #144
Same problem here.
[code]
sails 0.11.2
sails-permissions 2.1.3
sails-auth 2.1.1

[2015-10-04 03:00] dbkaplun commented on #139
+1
[code]

[2015-10-04 03:01] dbkaplun commented on #126
+1

See also #139

[2015-10-06 14:57] tschneid commented on #144
It's working in sails 0.12.0-rc3.
In sails 0.11 the hook seems to be called 'sails-permissions' (not just 'permissions').

[2015-10-06 15:12] boadude commented on #156
If u use windows u must put the node_module path and work

[2015-10-06 16:06] sylvainlap opened #168 "criteria incompatible with the "limit" parameter"
Hi,

I set a permission with a criteria:

    { user: "toto", model: "post", action: "read", criteria: { where: { appId: app.id } } }

So my user "toto" can read all posts with appId = a certain id.
Imagine I have a lot of posts in my database, and only 1 (the last one), with this specific id. My user "toto" wants to make this call:

    GET /post?limit=1

The result should by my only post with th

[2015-10-06 18:42] dottodot commented on #107
I'm looking for the same thing. I was hoping using `req.login` after the user was created would work but I get an error of `[Error: passport.initialize() middleware not in use]`

[2015-10-08 14:45] ryanwilliamquinn opened #169 "Create more informative error message for model not found"
Sails permissions only considers models that are associated with controllers.  If a permission exists for a model that isn't associated with a controller, this error is thrown:
[code]

Can we make this message more informative?

[2015-10-09 15:13] ryanwilliamquinn opened #170 "Owner and criteria permissions do not compose as expected"

[2015-10-10 09:24] dottodot opened #171 "Advise on checking permissions for current user"
Once permissions are setup I would like to be able to tell if the current user has permission to perform an action i.e read, edit, or delete on the item. The purpose for this would be to display appropriate actions to the user for example a delete button only of they have permission to delete it.

I guess what would be nice is if the request included attributes such as can_edit, can_delete etc alt

[2015-10-10 09:42] dottodot commented on #123
Looks like this is fixed in v1.4.5 `User.find` only returns the one user for the registered role

[2015-10-11 10:31] sagic opened #172 "error: relation "model" does not exist"
i started up with a new installation. updated the global npm and sails packages, followed the instruction to install sails-permission, connected a postgres db and lifted the sails.
i'm getting the error below... anybody?

(using mac)

[code]

[2015-10-11 14:09] ryanwilliamquinn commented on #172
what version of sails permissions/sails auth are installed?

[2015-10-11 14:13] ryanwilliamquinn commented on #170
closed via v1.4.5

[2015-10-11 14:13] #170 closed

[2015-10-11 14:13] ryanwilliamquinn commented on #140
closed via 1.4.5

[2015-10-11 14:13] #140 closed

[2015-10-11 14:13] #131 closed

[2015-10-11 14:14] #120 closed

[2015-10-11 14:14] #123 closed

[2015-10-11 14:15] ryanwilliamquinn commented on #164
How are you creating the permission?

[2015-10-11 14:17] ryanwilliamquinn commented on #158
does it work if you run `sails lift`?

[2015-10-11 14:18] ryanwilliamquinn commented on #149
@dottodot is this still an open issue?

[2015-10-11 14:19] #38 closed

[2015-10-11 14:25] sagic commented on #172
sails-permissions: ^1.4.5
sails-auth: 1.3.1

i switched to sails-local for persistence and it executes smoothly... it's probably related to my postgres config. i will update after i'll figure out how to configure the db.

thanks

[2015-10-11 19:20] igorteton opened #173 "Difference between 'owner' and 'user' relations (Permissions)"
I'd like to know what's difference between `user` and `owner` relations (in Permissions model).

I understand that if permission has `owner` relation then it will apply only if user is owner of a Model, but can't find any usage example for `user` relation so any explanation/example would be of great help.

[2015-10-12 07:52] sylvainlap commented on #164
Thanks to PermissionService.grant().
[code]

[2015-10-12 17:03] igorteton opened #174 "Permission with 'owner' relation + sockets = Subscribed to all items"
I have a Permission with 'owner' relation in place.
I use sockets.
When I request my model .get('/model') I will get back only those items my user is owner of - that's fine.
However socket is then subscribed to _all_ model items (because actual criteria filtering happens manually after the sails/waterline DB query).

Just want to check if I'm missing something here?

[2015-10-13 08:32] fubaydullaev opened #175 "Bad Request on auth/local access"
After fresh install of sails + sails-auth + sails+permissions, it shows bad request when I try to access auth/local. What's the problem ?

NodeJS: 4.1.1
Sails: 0.11.2
Sails-auth: 1.3.1
Sails-permissions: 1.4.5

[2015-10-13 08:57] fubaydullaev commented on #175
I found that, It should be post request, not get and fields are 1. identifier (not username/email) 2. password
Now works, fine :+1:

[2015-10-13 08:57] #175 closed

[2015-10-14 02:37] LeBlaaanc commented on #162
I was reading through much of the code and it seems very feasible that this project could work without sails-auth as long as you have some policies which mimic the sails-auth policies adding `req.user` for instance. It's a shame really that it wasn't decoupled to begin with but I have a fork I'm working on to see how far I can get.

[2015-10-14 03:49] LeBlaaanc commented on #162
I have it working but I got to a point that the only thing left in the module are services, and a few bits of code in the hook to spin up default data and inject ownership attributes into the models. I wish I could have figured out how to keep the policies intact but for some reason it didn't recognize them unless I pulled them out of the module.

This was a good exercise but honestly you might ju

[2015-10-14 21:39] RobertBroersma opened #176 "Columns owner and createdBy get removed during runtime"
Somewhere along the way the columns get deleted I think, because

When I have migrate set to alter, the columns are there on restart, but are all null

When I set migrate to safe, the columns get removed! I thought this setting should leave the db untouched!

I use MySQL.

Anyone any idea?

Update: Scratch that. Somehow it removes these columns during runtime. I'll go through my code to see if I c

[2015-10-19 14:41] sylvainlap commented on #168
bump!

[2015-10-19 16:24] YeraDR opened #178 "Disable Requestlogs"
HI!,

anybody can tell me how can I disable the API request logs?

[2015-10-20 17:40] igiigi commented on #138
+1

[2015-10-20 17:53] igiigi commented on #138
Please see working example
// config/passport.js

var _ = require('lodash');
var _super = require('sails-permissions/config/passport');

_.merge(exports, _super);
_.merge(exports, {
  passport:{
    facebook: {
      name: 'Facebook',
      protocol: 'oauth2',
      strategy: require('passport-facebook').Strategy,
      options: {
        clientID: 'your-client-id',
        clientSecret: 'your-cli

[2015-10-21 20:24] chipsenkbeil commented on #144
sails 0.12.0-rc3
sails-permissions 2.1.3
sails-auth 2.1.1

Still fails with `TypeError: Cannot set property '_modelCache' of undefined'.

[2015-10-22 15:42] sylvainlap opened #179 "res.ok()"
With sails permissions v1.4.5, if I call res.ok() without any data, I get this error:
[code]

[2015-10-24 04:45] tjwebb commented on #179
does this happen in sails without sails-permissions?

[2015-10-25 03:50] tjwebb commented on #178
I'd accept a PR on this. I don't have time to code this at the moment.

[2015-10-25 03:50] #176 closed

[2015-10-25 03:51] #172 closed

[2015-10-25 03:52] #158 closed

[2015-10-25 03:54] tjwebb commented on #144
Can you try sails-permissions `master`?

[2015-10-25 03:56] #163 closed

[2015-10-25 03:57] tjwebb commented on #138
This should be filed in sails-auth

[2015-10-25 03:57] #138 closed

[2015-10-26 09:03] sylvainlap commented on #179
no, without sails permissions, I can call res.ok() without any arguments.

[2015-10-26 19:17] dottodot commented on #16
I'm having the same problem using sails-auth 1.3.1 and sails-permissions 1.4.2, and sails 11.2

What's odd is I've got it to work on a different laptop and the only difference I can think of is that is running node v0.10.36 whereas the one that doesn't work has node v0.10.37

[2015-10-26 23:51] igorteton commented on #178
@YeraDR Can't you just ignore AuditPolicy and not use it at all? Isn't that the one which creates requestlogs?

[2015-10-27 00:30] toddgeist opened #180 "TypeError: Cannot read property 'protocols' of undefined"
Brand new Sails install of version 0.12.0-rc3
Followed instructions then did sails-lift

after the migration prompt ( i chose 3 )  I get this error

[code]

[2015-10-27 02:01] toddgeist opened #181 "Install instructions say to install "sails-auth""
```$ npm install sails-permissions sails-auth --save```

sails-permissions install `sails-auth` version ^2.0.  So why?

[2015-10-27 02:22] toddgeist commented on #181
ok,  well I don't know why, but you do need to install it, and you need to make sure it is version 2 or better.  So do this

`$ npm install sails-permissions sails-auth@^2 --save`

This also fixes #180

[2015-10-27 02:23] toddgeist commented on #180
this goes away if you install sails-auth@^2.0

[2015-10-27 05:22] tjwebb commented on #181
sails-auth makes sure the user is logged in with a valid account ("authenticated"). Then, sails-permissions checks whether the request is authorized, given the particular Roles the user is granted. Both of these steps are necessary.

[2015-10-27 12:50] toddgeist commented on #181
Ok got it. So the issue here was that different versions where installed?

[2015-10-27 18:11] Grumos commented on #126
/generator.js has probably missing parameters. Someone can fix that ?

[2015-10-28 16:33] Grumos commented on #126
/generator.js has probably missing parameters. Someone can fix that ?

[2015-10-28 18:12] ayyappaappana opened #182 "Policies are not working for nested Controllers"
Hi All,

There is no concept of versioning for Passport and Model policies are not working for Versioning or nested controllers or models with AuditPolicy.

contollers :   v1/userController
model :   v1/user.js

Policies.js

'v1/userController' : {
        createUser : ['ModelPolicy', 'AuditPolicy']
}

Error : Cant find collection name user. If i removed model Policy and AuditPolicy sailsjs is wor

[2015-10-28 21:10] igorteton commented on #168
It seems that this issue is actually related to mine https://github.com/tjwebb/sails-permissions/issues/174

I tried to hack something and I still believe it's early for any PR, as I'd like @tjwebb to give it a look and point me to the right direction (I might not be seeing the whole picture when it comes to different conditions).

Here https://github.com/igorteton/sails-permissions/commit/ca66e03

[2015-10-30 18:49] ifiokjr commented on #126
I'm having this same problem with v2+ downgrading to 1.4.5 seems to be a current quick-fix.

[2015-10-30 19:04] ifiokjr commented on #126
Okay so the problem seems to be version 2+ specific.

This [commit](https://github.com/tjwebb/sails-permissions/commit/56f3a81134311e6734c21889c8a7a781bd441e52#diff-1917a60f372344e0d19f78dd69a543d3) removed a lot files from the [/generator.js](https://github.com/tjwebb/sails-permissions/blob/56f3a81134311e6734c21889c8a7a781bd441e52/generator.js) top level file.

The thing is I'm not 100% sure the

[2015-11-02 20:14] paulcitarella commented on #126
+1 node 4.1.1, sails 0.11.2, sals-permissions 2.1.7. No policy files are being generated. Is anyone working on this?

[2015-11-06 00:36] delconis commented on #126
The following is what works for me.
    "sails": "~0.11.0",
    "sails-auth": "^1.3.1",
    "sails-permissions": "^1.4.5"

It looks like marlinspike was not fully impmented in the commit mention above by @ifiokjr as a replacement for the current method.

You should be able to uncommit the lines from that commit for the generator.js. Or finish the implmention of marlinspike. I recommend finishing t

[2015-11-06 10:57] stratboy opened #184 "how about failed build?"
Hi, I'd like to use this module, but I'm not sure: how about the fail build label?

https://travis-ci.org/tjwebb/sails-permissions/builds/87272102

Thank you, regards

[2015-11-07 10:29] delconis commented on #184
At the time I don't think 2.0 is stable / production ready. You may want to use 1.4.5^

[2015-11-09 18:06] GuillaumeLeclerc commented on #76
I have sails version 11.2 and still have the error

[2015-11-09 18:13] mcodev1 opened #185 "Sending an invalid primary key as `id` to a custom find action throws"
I'm using `sails@balderdashy/sails`, and `sails-permisisons@1.4.5`.

With an entry `routes.js` like so:

[code]

A request to `/foo/bar` throws an error:

[code]

This happens before the controller's action is run.

If I provide a valid ID: `/foo/5640c69d449788f15e016ad7` (Using Mongo, and knowing that an object exists with that ID in that collection) then it enters the controller action as expect

[2015-11-09 21:31] NikkiDreams opened #186 "Unexpected reserved word - import"
I just did a fresh install in my Sails project. Starting server results in this error.
I'm not sure how much E6 support is in Sails right now if any. Our apps are full E6 compliant or nearly so. I have tried several options using a transpiler. But have not gotten past this one yet.

[code]

My project dependencies include:
     Node 0.12.7
    "babel-core": "^6.1.2",
    "bcrypt": "^0.8.5",
    "e

[2015-11-11 09:03] RobertBroersma commented on #129
+1, could you please explain why this is done or remove it? Or explain how we can override it properly? I've tried setting sails.config.blueprints.populate = true; in bootstrap.js, but it doesn't work!

[2015-11-11 09:37] stratboy commented on #184
ok is the current documentation/wiki suitable for v145? Or is it for v2?

[2015-11-12 16:06] GeekLad commented on #172
I'm having the same problem using sails-postgresql.  Did you have any luck getting this fixed?  I'm using sails-permissions ^1.4.5 and sails-auth: ^1.3.1

I had extended the User object to add an email_confirmed boolean field to add some functionality for sending/receiving email confirmations on new accounts, and it was causing some errors since it wasn't in the schema.  I took the lazy route and

[2015-11-12 16:58] AlexisNo commented on #126
I guess it will not be necessary to generate all these files with the next version of sails. The version 2 is probably ahead and should work this sails master branch.

[2015-11-13 01:33] GeekLad commented on #172
I ran --verbose and figured it out when I saw this line:
```Forcing Waterline to use `migrate: "safe" strategy (since this is production)```

I had my development config set to local disk db, and production set to an empty postgres instance (empty because I blew it away).  So I just had to change my development config to use the postgres instance and rebuild the tables by running a sails lift in d

[2015-11-13 04:30] sz06 commented on #98
@1ewallace1 That worked for me. I don't see any error now but unfortunately files are not created :(

[2015-11-13 09:09] ParanormalCoder commented on #126
I also tried to complete some parts of it, but found ES6 script inside some modules. However, the problem with ES6 in nodejs still exists:

https://nodejs.org/en/docs/es6/

[2015-11-13 15:52] ParanormalCoder commented on #126
Thanks @AlexisNo

My sails configuration works well. The configuration is as follows:

    "sails": "~0.12.0-rc3",
    "sails-auth": "~2.1.1",
    "sails-disk": "~0.10.7",
    "sails-mongo": "^0.11.4",
    "sails-permissions": "~2.1.8"

[2015-11-13 18:49] mcodev1 opened #187 "Feature request: attribute whitelist"
CriteriaPolicy currently supports an attribute blacklist.

Creating a whitelist can be accomplished by just blacklisting the attributes that I don't want as part of the whitelist, but it would need to be updated if the schema changes and an additional attribute is added. A whitelist would allow me to define a set of attributes and disallow all others, including new ones in the future.

Creating a

[2015-11-15 00:24] tjwebb commented on #187
Unfortunately we can't accommodate this feature; below are the reasons why.

#### Philosophical Issues
Criteria are always subtractive, never additive. Because Permissions *grant* privileges rather than restrict them, Criteria are used to invalidate a granted Permission if certain specific conditions hold. That is, Criteria are designed to hide what would otherwise be visible. Therefore if you add

[2015-11-15 00:24] #187 closed

[2015-11-15 00:47] ryanwilliamquinn commented on #187
Currently, only one permission is ever considered for a model, so I don't see the non-identical whitelists being an issue.  Sure, it doesn't make sense, but it is essentially operator error.  As it is, we aren't concatenating blacklists as far as I know.

[2015-11-15 04:12] tjwebb commented on #187
Yea, I'm saying it's an issue if that one Permission has multiple conflicting Criteria.

Right, behavior around this is essentially "undefined" currently. But we can choose how to handle this without ending up in a corner we can't escape from.

[2015-11-16 14:22] mcodev1 commented on #187
I'm not understanding the difference here. How is it that an incomplete blacklist as a result of duplicate criteria is not a contradiction? Just in the same way that a whitelist is an inverted blacklist, so too is a blacklist an inverted whitelist. If there are two criteria for the same model and action with different criteria, and one of them gets chosen arbitrarily, then that one blacklist is ne

[2015-11-16 16:31] tjwebb commented on #187
Because blacklists can be concatenated to form a correct (i.e. more complete) blacklist. Whitelists can never do this. This is not being done currently. I apologize if my case above was overly hypothetical.

There is of course a technical solution, here, which is to disallow multiple Criteria with identical model/action combinations in the first place for a given Permission. In that case, a whitel

[2015-11-17 10:57] dottodot opened #188 "Audit policy could benefit from having model id stored"
I know the model id is stored in the body field of the request log but it might be beneficial to store it as an attribute too just to make it easier to retrieve log information for a particular model as I'm not sure there an easy way to query a nested attribute.

[2015-11-17 23:40] akurtz commented on #186
+1

[2015-11-20 09:20] RobertBroersma commented on #174
I'm having the same issue. My user receives all new model items over socket connections, even those he doesn't have permission to see.

Is this being fixed any time soon? Otherwise what's the best way of fixing this myself?

[2015-11-20 12:51] GeekLad opened #190 "Best Way to Prevent Unwanted Updates on Current User"
I'm working on building CRUD interfaces to manage ```User```, ```Role```, and ```Permission``` and I want to put in some server-side safeguards to prevent a logged-in admin user from performing some unwanted updates on its own account:

* Delete itself
* Remove the admin role from itself
* Removing CRUD operations from itself for Permissions to prevent the admin from removing a permission it won't

[2015-11-22 15:35] Grumos commented on #144
sails 0.12.0-rc3
sails-permissions 2.1.11 -> master ?
sails-auth 2.1.1

Still fails with `TypeError: Cannot set property '_modelCache' of undefined'.

[2015-11-23 01:40] igorteton commented on #174
@RobertBroersma try this https://github.com/igorteton/sails-permissions/commit/ca66e03ce12180100c16ae727eec191327d06792
I would need some eyes on that and in case it looks fine I'll proceed with PR.

[2015-11-24 20:37] GeekLad commented on #126
@ParanormalCoder I tried with that config on a new project, and it's not working for me.

[2015-11-26 04:34] dbkaplun opened #191 "Error: Cannot find module 'lodash' for fresh installation"
[code]

[2015-11-26 04:37] dbkaplun commented on #191
After installing, we're missing a `sails-permissions/config/passport` file:
[code]

[2015-11-27 09:39] ParanormalCoder commented on #126
@GeekLad , thanks for feedback.

Well, you should have the same version of sails installed globally. So let's do the following:

1- [type in console] sudo npm uninstall sails -g
2- [type in console] sudo npm install git://github.com/balderdashy/sails.git#master -g
3- Create your sails project, e.g. sail new mysails
4- add the following to your package.json file:
    "sails-auth": "~2.1.1",
    "sa

[2015-11-28 21:21] patrickdebruijn commented on #144
same here: error: TypeError: Cannot set property '_modelCache' of undefined

sails 0.12.0-rc3
sails-permissions 2.1.11
sails-auth 2.1.1

[2015-11-29 13:45] danieljeyes opened #192 "Criteria not working"
I have setup sails permissions and its working well. I only seem to have an issue when trying to grant a role access to read on a criteria.

Exact what I am trying to achieve is the following: - Users in role Public should be able to read / view any menu in menu model where the attribute 'status' is set to 'approved'.

PermissionService.grant({action: 'read', model: 'Menu', role: 'public', criteri

[2015-12-01 21:58] CovertIII commented on #190
The logged in user id can be accessed from a controller in the request object, req.user.id.  You can override the default controller actions defined by the blueprint.  See http://sailsjs.org/documentation/reference/blueprint-api#/blueprint-actions.  You can then create a custom method on the model, call it on the controller action and pass the user id into that.

[2015-12-02 01:32] ryanwilliamquinn commented on #192
I've never had any success with the public role.  @tjwebb do you have any idea about how the public role is supposed to work, considering the sessionAuth will reject anyone who isn't logged in?

[2015-12-02 13:06] GeekLad commented on #190
@CovertIII good tips.  I was hoping to try to keep as much in-tact by not having to override blueprints with customizing the default actions, but that may be the only way.  Is there an easy way to call the default blueprint action within a custom controller action?  That would at least make it a bit easier/convenient, because then you can perform a simple check to make sure the current user isn't

[2015-12-02 14:18] CovertIII commented on #190
Your RoleController could look like this:
[code]

Not sure if it's the best way, but it should do the trick.

[2015-12-05 00:14] ryanwilliamquinn commented on #190
I haven't tried these, but here are some thoughts -

Delete itself:
Remove the delete user permission from admin role, and add a delete user permission that allows for delete where id != whatever the id is for the admin user (although it sounds like you already have a solution)

Remove the admin role from itself:
Same idea as above - remove global delete permission role from admin, and add one tha

[2015-12-06 08:16] lauort commented on #126
@ParanormalCoder, sorry to say you, but your solution does not work.

I have a clean installation from sails and the files are not created in the folder. If I change the versión of the sails-permissions, all is working perfectly. I have the last version of sails installed.

Regards

[2015-12-07 12:30] #190 closed

[2015-12-07 20:08] refactorized commented on #76
Requires 0.11 or requires 0.11+  ?

[2015-12-08 19:57] danieljeyes commented on #192
@tjwebb, as @ryanwilliamquinn mentioned do you have any information on how the public role is working and how we can provide where conditions on criteria for the public role?

[2015-12-08 21:07] khchan commented on #45
@dottodot Did you ever manage to find a solution for this?  I'm having the same problem.

[2015-12-09 09:35] dottodot commented on #45
@khchan Sorry which problem are you referring as I mentioned a couple I was having.

[2015-12-09 12:22] khchan commented on #45
@dottodot ah should have been more specific. I was wondering if you found a solution for res.ok to have a pagination total or did you end up having to create a custom criteria policy?

[2015-12-09 12:36] dottodot commented on #45
@khchan I did it by sending the count in a header like this.

[code]

[2015-12-09 14:45] khchan commented on #168
@igorteton The fix didn't work for me...@sylvainlap did you ever manage to figure out what the issue was?

[2015-12-09 20:03] khchan commented on #76
@tjwebb I was under the impression that sails-permission@2.1.11 and sails-auth@2.1.1 both depend on sails@0.12.0-rc3 since marlinspike is required.  What are the recommended versions for everything then if this isn't the case?

[2015-12-09 20:32] khchan commented on #144
I am able to get my project to work if I go into node_modules/sails-permissions and modify wherever the hook is used from `sails.hooks.permissions` to `sails.hooks['sails-permissions']`.

[2015-12-09 22:35] EloB opened #193 "Is it possible to add a limit create permission?"
I would like to add a limitation on the amount of "create" to a permission on a role. The user-case is like bronze, silver and gold subscriptions. These roles should be able to create a specific model but in a limited amount. Is that possible?

[2015-12-09 23:57] khchan commented on #193
What immediately comes to mind is using a Permissions' Criteria to achieve this:
[code]

[2015-12-10 20:46] yadavji83 commented on #126
i have latest stable version sails 0.11.3, node 4.2.3 installed and its still not working. One thing i noticed is when we do:
npm install sails-permissions --save
it installs sails-auth 2.1.1, but if we do:
npm install sails-auth --save
it installs sails-auth 1.3.1
Don't know why this is happening.

This is very disappointing, i am trying to resolve it the whole day but no success

[2015-12-10 23:00] ParanormalCoder commented on #126
@yadavji83 : Well, I've explained how to solve everything, step by step, in my previous/above post. Please read it!

[2015-12-11 08:00] yadavji83 commented on #126
Yes i did that! I already had the latest version but still uninstalled it and followed you, but same error. Also i found some more issues, i posted this in chat window also:

i found that everywhere in your module you are assuming that sails-permissions is installed directly in the app directory, but this is not the case with my windows system. Its installed in npm-modules
npm-modules folder
so in

[2015-12-11 08:32] ParanormalCoder commented on #126
@yadavji83
Well, the sails-permissions does the loading automatically. Can you please share the "dependencies" section of your app's package.json?

[2015-12-11 08:37] yadavji83 commented on #126
"basicauth": "0.0.1",
    "ejs": "~0.8.4",
    "grunt": "0.4.2",
    "grunt-contrib-clean": "~0.5.0",
    "grunt-contrib-coffee": "~0.10.1",
    "grunt-contrib-concat": "~0.3.0",
    "grunt-contrib-copy": "~0.5.0",
    "grunt-contrib-cssmin": "~0.9.0",
    "grunt-contrib-jst": "~0.6.0",
    "grunt-contrib-less": "0.11.1",
    "grunt-contrib-uglify": "~0.4.0",
    "grunt-contrib-watch": "~0.5.3",

[2015-12-11 08:52] yadavji83 commented on #126
I am quite sure that this has something to do with path because when i coped the policy files from sails-permission/api/policies folder to my app/api/policies folder the policy error resolved, but then it gives: cannot find modules fnv-plus: so i installed it and this error went off.
sails is not finding the dependencies of sails-permissions in its folder rather its finding it in my app folder its

[2015-12-11 09:24] ParanormalCoder commented on #126
@yadavji83 : You haven't done the 7 listed steps in my above instruction correctly! (postdate: 14 days ago)

your sails-permissions is OK, but the sails-auth is not ver. 2.1.1.
Moreover, your sails itself is not the head master commit!
So, these are the few issues I see!

So, try to read and follow that instruction carefully, step by step, again!

[2015-12-11 10:06] yadavji83 commented on #126
Awwwwww!! It worked and i found my stupid mistake!

i tried it with sails@0.12.0-rc3 before and was not working either so i shifted to sails .11. The problem was as i mentioned before this command:
install sails-permissions sails-auth --save

installs sails-auth1.3.1 and then sails-permissions install sails-auth-2.1.1, so i was "assuming" the later will be used, how stupid i am!!

A big thanks to

[2015-12-11 10:08] yadavji83 commented on #126
Also forgot to mention it will work with sails0.11 but you MUST change the sails-auth to v2.1.1 as @ParanormalCoder  metioned.

[2015-12-11 11:45] yadavji83 commented on #126
No its not working with sails0.11, many bugs come after you start using it, you should stick to the latest 0.12.0-rc3

[2015-12-11 12:35] EloB commented on #193
Nice! :+1:

[2015-12-11 12:35] #193 closed

[2015-12-11 16:10] yadavji83 opened #194 "Where will code for new role goes!!!"
have a question i am new to permissions and dont understand where will this code go in order to create a new role:

PermissionService.createRole({ name: ‘collaborator’, users: ‘tjwebb’,
permissions: [{ model: ‘mymodel’, action: ‘create’ },
{ model: ‘myothermodel’, action: ‘read’ }] })

In docs it says we can add new role 2 ways other way is:
User.findOne({ username: 'tjwebb' })
  .then(function (u

[2015-12-11 16:14] ryanwilliamquinn commented on #194
You can run that manually via the sails console, or you can put it in config/bootstrap.js.  It should not go in config/permissions.js.  You really only need to run that command once, and then the permissions will be saved in your db, so I would lean toward the console.

[2015-12-11 17:50] yadavji83 commented on #194
@ryanwilliamquinn thanks for fast reply.

i tried this in console:
PermissionService.createRole({ name: ‘collaborator’, users: ‘tjwebb’,
permissions: [{ model: ‘mymodel’, action: ‘create’ },
{ model: ‘myothermodel’, action: ‘read’ }] })

but it was giving me Promise {( pending )}

and when used: Promise.all( ... ).spread( ... ) it gives error:
Promise.all (...).spread is not a function

[2015-12-11 18:09] ryanwilliamquinn commented on #194
.spread doesn't work because that is a specific to a particular promise library (bluebird), not the general ES6 promise implementation.

from the sails console, you can query your permissions to see if they were created:
[code]

[2015-12-11 18:55] yadavji83 commented on #194
Finally it worked with .then.catch in console! thanks

[2015-12-11 19:26] yadavji83 commented on #32
Ran into the same problem. I thought all visitors will be treated as public user. Also your workaround looks ok but it wont help in debug. As the requestlog will show all the public users as anon and it will be impossible to track down a particular request. There should be a method of creating a separate request id for each public use and assign them as their username with public role.

Any input

[2015-12-12 11:43] yadavji83 opened #195 "Does sails-permissions will handle callback operations too from passport providers"
Just a quick question!
Does this handle callback operations too like creating account, checking already existing account with that email.
Also how can i add my custom details to user model. Right now its having the default ones that you create.

[2015-12-12 12:44] yadavji83 opened #196 "Neither a username nor email was available"
In facebook i have email, public_profile and user_friends enabled and my app is live for public
In config/passport.js file i have:

But still everytime i request to auth/facebook it says neither a username nor email id was available. I am using a username which uses email id not mobile number to login.

Where am i wrong?

[2015-12-12 13:08] yadavji83 commented on #195
i found out that it does handle creating account but i am facing some problem, that's why its not creating it for me i opened another ticket for this #196 , but the second questions is still there:

**What is the best way to add custom fields in user model**
I found a solution for this and want someone to confirm if this is the right way:

1. Created a User.js file in my api/model folder
2. Added

[2015-12-12 20:14] ParanormalCoder commented on #188
It already exists as req.model :)

[2015-12-12 20:30] #194 closed

[2015-12-14 00:28] RoM4iK commented on #186
add to `.babelrc` following strings
[code]

[2015-12-14 06:02] yadavji83 commented on #196
any update on this please

[2015-12-14 08:05] dottodot commented on #188
Sorry could you expand on what you mean as I'm not familiar with the use of req.model

[2015-12-16 01:37] PaulWoodIII commented on #144
+1 getting this error as well and wish there was a clear answer

[2015-12-16 01:44] khchan commented on #144
I updated my previous comment in this thread with a solution that finally worked for me, @PaulWoodIII did creating a `config/installedHooks.js` file work for you?

[2015-12-16 01:48] PaulWoodIII commented on #144
no it did not, anything else beyond just the file that I should also do I'm new to sails so handholding would be appreciated

[2015-12-16 13:57] NoGeneral opened #198 "import _ from 'lodash' how to fixed ?"
node_modules/sails-permissions/api/services/ModelService.js:1
import _ from 'lodash'
^^^^^^

SyntaxError: Unexpected token import
    at exports.runInThisContext (vm.js:54:16)
    at Module._compile (module.js:375:25)
    at Object.Module._extensions..js (module.js:406:10)
    at Module.load (module.js:345:32)
    at Function.Module._load (module.js:302:12)
    at Module.require (module.js:355:17)

[2015-12-16 13:59] khchan commented on #198
Which versions of sails, sails-auth, and sails-permissions are you using?

[2015-12-16 17:36] andrasi commented on #76
I still have this error after tryting to follow the tutorial from [here](https://github.com/tjwebb/sails-permissions#install)
My package.json looks like this
[code]
[code]
[Here's the complete log](http://pastebin.com/4CqDw6DF)

Thanks

[2015-12-16 18:20] khchan commented on #76
@andrasi I was able to get it working with sails-permissions@2.1.11, sails-auth@2.1.1, and sails@0.12.0-rc3.  Also to fix this _modelCache issue I had to create a `config/installedHooks.js` file containing:

[2015-12-16 18:27] andrasi commented on #76
Ok, I'll give it a try. For the moment I've got it running by downgrading both sails-permissions and sails-auth.

[2015-12-17 07:40] abc306396358 commented on #198
sails 11.3   sails-auth 1.3.1    sails-permissions 2.1.11

[2015-12-17 07:41] abc306396358 commented on #198
node v5.2.0

[2015-12-17 08:19] ParanormalCoder commented on #198
Everything is explained well in here:

https://github.com/tjwebb/sails-permissions/issues/126#issuecomment-160094325

[2015-12-17 19:20] Benew commented on #174
+1

[2015-12-17 19:21] Benew commented on #168
+1

[2015-12-17 20:50] tjwebb opened #200 "Roadmap: Migrating sails-permissions to Trails.js"
In Q1 of 2016, sails-permissions will be migrated to run on the trails.js framework: https://github.com/trailsjs/trails. As many of you know, this project has been hamstrung by the Sails.js team's inability to release any of the 0.12.x series versions in a timely manner. This is regrettable, but we have not been able to work effectively with @mikermcneil and his team to advance Sails forward. He h

[2015-12-19 22:44] yadavji83 opened #201 "How to use access_token to access my models api using google provider"
plz help me: i am using google to authenticate users, i reached to the point where i got access_token to my frontend (angular app) but now i want to access some models api using this access_token. How can i do that i tried using:
http://localhost:1337/car/find?access_token=MY_ACCESS_TOKEN

but its saying: You are not permitted to perform this action.
plz plz plz help me with this

[2015-12-20 15:28] sylvainlap commented on #168
any news about that ?

[2015-12-21 16:40] robertoandres24 opened #202 "I need a way to avoid passport policies of sails permissions, if exists an attribute public true in some model"
Hi. currently, I defined my policies like this:

module.exports.policies = {
[code]
and I need to find ways to avoid even the policie of authentication, if I define as True, the attribute public of my model Class.
sorry for my bad english, thankful in advance

[2015-12-22 04:19] tjwebb commented on #202
Ah, dupe: https://github.com/balderdashy/sails/issues/3444

[2015-12-22 04:19] tjwebb commented on #200
see:
- https://github.com/balderdashy/sails/issues/3444

[2015-12-22 04:20] #200 closed

[2015-12-23 02:05] DaAwesomeP opened #203 "Mess of installing"
OK,
So I'm trying to set up Sails with `sails-postgres`, `sails-permissions`, and `sails-auth`. I'm really confused about the version mismatches everyone, some in issues dating back to October.

1. What versions of `sails-auth` and `sails-permissions` should I install?
2. I do not plan on moving from Sails v0.11.x release to the `master` branch of it, as it is the stable release and I will need th

[2015-12-23 05:28] tjwebb commented on #203
sails-permissions 2.x series will only work with Sails 0.12.x series.

re reliability: https://github.com/tjwebb/sails-permissions/issues/200

[2015-12-23 06:49] DaAwesomeP commented on #203
Wow! I had no clue about TrailsJS. Since I'm just starting my app, I think that I'll switch to it. It even uses ES6!

You might consider adding a large warning to the readme.

[2015-12-23 06:49] #203 closed

[2015-12-23 17:03] tjwebb commented on #203
Yes, we'll update all the readme on all our Sails modules once trails 1.0-alpha is releases in the first week of January.

Sorry for the inconvenience.

[2015-12-24 17:31] DaAwesomeP opened #204 "403 on all requests"
No matter whether I have logged in via `/auth/local` or not, I get a `403` status at every request, even `/user/me`. How can I show a `401` when simply not logged in and ease the permissions on things like `/user/me`?

[2015-12-24 19:48] dioptre commented on #144
+1 that fix worked for me

[2015-12-24 20:04] dioptre commented on #180
That didnt work for me too... I'm on:

{
  "name": "server",
  "private": true,
  "version": "0.0.0",
  "description": "a Sails application",
  "keywords": [],
  "dependencies": {
    "bcrypt": "^0.8.5",
    "express-jwt": "^3.0.1",
    "grunt-contrib-coffee": "~0.10.1",
    "include-all": "~0.1.3",
    "jsonwebtoken": "^5.0.5",
    "lodash": "^3.10.1",
    "pluralize": "^1.2.1",
    "rc": "~0.5.0

[2015-12-24 20:57] khchan commented on #180
@dioptre You seem to still be on sails@0.11.3, you will need 0.12.0-rc3 for any version above 1.4.5. of sails-permissions to work.

[2015-12-24 23:02] DaAwesomeP commented on #204
OK, so I figured out part of the problem (I needed to set CORS and CSRF origins). However, now there's a blatantly obvious bug. The JSON says code 401, but the HTTP header says 403.

[2015-12-24 23:22] DaAwesomeP commented on #204
Nevermind. I needed to change the `sessionAuth` policy:
[code]

[2015-12-24 23:22] #204 closed

[2015-12-25 08:19] yadavji83 commented on #144
@khchan ur solution removed the error: TypeError: Cannot set property '_modelCache' of undefined

but now this error is coming: error: TypeError: Cannot set property 'protocols' of undefined

[2015-12-25 08:20] yadavji83 commented on #76
@khchan  ur solution removed the error: TypeError: Cannot set property '_modelCache' of undefined

but now this error is coming: error: TypeError: Cannot set property 'protocols' of undefined

[2015-12-25 08:26] yadavji83 commented on #144
Just to give more insight of the issue. My sails app was working fine with sails0.12.0-rc3, sails-auth2.1.1 and sails-permissions2.1.11

But i ran npm install which added latest release of sails0.12.0-rc4 and the issue started to come after that. I uninstalled sails and then reinstalled version 0.12.0-rc3 but this error is still there.

[2015-12-28 01:22] jordi12100 commented on #180
I'm having the same issue.

{
    ...
    "sails": "^0.12.0-rc4",
    "sails-auth": "^2.1.1",
    "sails-disk": "~0.10.0",
    "sails-permissions": "~2.1.11"
   ...
}

sails.services seems empty.

[2015-12-31 09:17] danieljeyes commented on #192
@tjwebb could you provide some feedback on this?

[2016-01-02 03:59] niallobrien commented on #174
+1

[2016-01-11 18:33] PaulWoodIII commented on #144
Still having trouble, and i'm now to where @yadavji83 is having trouble, Heres my console output:

    info: sails-permissions: admin user does not exist; creating...
    error: TypeError: Cannot read property 'protocols' of undefined
      at module.exports.register (/home/ubuntu/workspace/node_modules/sails-auth/api/models/User.js:49:30)
      at bound.module.exports.register (/home/ubuntu/works

[2016-01-11 20:47] KirillSuhodolov opened #207 "wrong hook name"
When running application get error from this place https://github.com/tjwebb/sails-permissions/blob/f2d174b1283a4f07aabe4702ca7a3d416701101e/api/hooks/permissions/index.js#L100

There is no hook permissions( this.sails.hooks.permissions) , but exists 'sails-permission' (this.sails.hooks['sails-permissions'])

![error](http://dl1.joxi.net/drive/0006/3189/441461/160111/8cc02ce501.jpg)

[2016-01-12 02:50] redBaronNc commented on #147
Hello, I am trying to update to 2.1.11 from 1.4.5 and I am a bit lost, it seems like the generate permission-api doesn't create all the models as it used to. I think a migration guide would be very helpful :-)

[2016-01-13 14:31] aman-gautam opened #208 "TypeError: Cannot set property '_modelCache' of undefined"
I am getting

    error: TypeError: Cannot set property '_modelCache' of undefined
        at ****/node_modules/sails-permissions/dist/api/hooks/permissions/index.js:124:52 [TypeError: Cannot set property '_modelCache' of undefined]

while using

    "sails-permissions": "^2.1.11"
    "sails-auth": "^2.1.1",
    "sails": "~0.11.2",

The server loads up, but with this error just before getting the

[2016-01-13 19:54] KirillSuhodolov opened #209 "fixtures customization"
Need ability to pass additional params to fixtures, or edit them
For example I need more then fixtures have roles.
My User accounts have required fields, that not described in fixtures/user.

Thanks for this repo!

[2016-01-18 20:44] Shkryob commented on #196
I think you also need to add profileFields: ['emails'] option

[2016-01-19 21:03] JonathanBergers commented on #208
getting this error too

[2016-01-21 20:06] dottodot opened #210 "Owner can't get own"
I've set up a permission for the registered role on a model with the relation set to owner,and the models have the owner attribute set but when a registered user requests some models they own the response is empty when pass through `res.ok()` even though models are found.

[code]
This is using v1.4.5

[2016-01-22 08:49] dottodot commented on #210
OK I've found the problem. If you populate `owner` the CriteriaPolicy doesn't like it as the filter can't handle that it populated.

[code]
So how do I Populate Owner and have it respect the permissions.

[2016-01-22 15:42] ryanwilliamquinn commented on #209
I agree, the fixture data should be over-writable from configs.

[2016-01-23 13:05] chirag200666 commented on #180
Upgrading sails to 12 rc7 fixed the issue for me.
{
...
"sails": "^0.12.0-rc7",
"sails-auth": "~2.1.1",
"sails-permissions": "~2.1.11"
...
}

[2016-01-23 13:06] chirag200666 commented on #144
Upgrading sails to 0.12.0-rc7 fixed the issue for me.
{
...
"sails": "^0.12.0-rc7",
"sails-auth": "~2.1.1",
"sails-permissions": "~2.1.11"
...
}

[2016-01-23 13:29] iolufemi commented on #76
@khchan Your solution worked for me. Thanks

[2016-01-23 14:55] PaulWoodIII commented on #144
@chirag200666 yes thanks for your update I've managed to get things working now and I wouldn't have come back to this package if you hadn't updated your status

[2016-01-23 20:36] #144 closed

[2016-01-24 20:31] KirillSuhodolov opened #212 "findTargetObjects method fetch all data from database!"
I found some strange behaviour with Permission Service
https://github.com/tjwebb/sails-permissions/blob/master/api%2Fservices%2FPermissionService.js#L56

[code]

req object does not contains any criteria, so find fetch all records from related model table. Is it permissible behaviour?

[2016-01-27 02:25] scgy5555 commented on #208
+1

[2016-01-28 22:56] gtheilman opened #213 "Pluralize 'true' changes 'post /user' to 'post /users'"
I'm using _sails-generate-ember-blueprints_ which requires that pluralize be set to 'true' in _blueprints.js._

As a result, in order to add a new user, I'm having to post to '/users' rather than '/user'.

I'm sure what I need to do is put a custom route in _routes.js_ to redirect requests to 'post /user' to the correct location.   However, I can't figure out what location to use.

So far, I've tr

[2016-01-29 15:27] ryanwilliamquinn commented on #213
I think you want to hit this endpoint:  https://github.com/tjwebb/sails-auth/blob/master/api/controllers/UserController.js#L12

I would try:
`'POST /users': 'UserController.create'`

[2016-01-29 20:07] gtheilman commented on #213
Thanks for the pointer.   Part of the problem was I kept searching through the "sails-permission" directory for the endpoint rather than the "sails-auth" directory.

Unfortunately, neither

`
'POST /users':  'UserController.create'
`

nor

`'POST /user':  'UserController.create'
`

fixes the problem.   Sails still reports a 404 error when looking for _/user._   Works fine if `/users` is used, inst

[2016-01-29 20:07] #213 closed

[2016-01-31 02:04] blanco217 commented on #207
https://github.com/tjwebb/sails-permissions/issues/76
read post by khchan commented on Dec 16, 2015

[2016-01-31 21:59] joshmatz commented on #198
I just grappled with this issue for a couple hours only to realize that the error was caused by me trying to extend the base sails-permissions files explicitly. Unbeknownst to me, the installed sails-permissions includes a `dist` folder that has transpiled the `import` statements to the functional `require` statements.

Unfortunately, I didn't realize there was a `dist` folder generated and I was

[2016-01-31 22:00] joshmatz commented on #186
I ran into this issue and guessing it's related. Here's my explanation: https://github.com/tjwebb/sails-permissions/issues/198#issuecomment-177629496

[2016-02-04 04:48] emudojo commented on #180
using sails RC7 here, with 2.1.11 for both sails-auth and sails-permissions no aval, the error persist, I tried updating to the latest sails-auth and matching the version with permissions same thing

[2016-02-04 13:01] splifo commented on #129
same help plz!

[2016-02-11 08:48] dottodot opened #215 "a promise was created in a handler but was not returned from it"
On sails 0.12.0 I'm getting the warning

 which I believe is due to the policies Promises needing a return. Here's the issues I orginally posted on sails https://github.com/balderdashy/sails/issues/3556

[2016-02-13 06:28] sahilshekhawat opened #216 "README: Setting Env variable's example does not work"
The example given here https://github.com/tjwebb/sails-permissions#3-set-environment-variables to add env variables to sails does not work.

This should be:
[code]

Should I raise a PR?

[2016-02-13 20:46] adamwlarson commented on #92
I wanted to add to what @dustmoo is saying, it does appear it has been factored out and it doesn't appear that sails.config does work in anything. Is there an update on where the variables should be set?

[2016-02-14 00:22] giantyellowrobot opened #217 "`sails lift` errors out after `sails generate permissions-api` in Sails 0.11.4"
I set up my `.sailsrc` as follows:

[code]

When I run `node_modules/.bin/sails generate permissions-api` I get the following: `info: Created a new permissions-api ("permissions-api")!`

The only file created by the generator appears to be `config/permissions.js`.  Is there supposed to be more?  The docs mention `AuthController`, which is not present after running the generator.

Running `sails li

[2016-02-14 01:36] #217 closed

[2016-02-15 02:09] RothAndrew commented on #216
I want this in config/local.js, but it doesn't seem to work there. The default admin user is created instead.

How can I put this in config/local.js and make Sails actually use it?

[2016-02-15 06:03] sahilshekhawat commented on #216
If I understand you correctly,  you can put the sample code that I have given in ``config/local.js`` and it will work.

[2016-02-16 06:15] scgy5555 commented on #216
config/permissions.js
[code]

[2016-02-16 17:04] sahilshekhawat opened #218 "Cannot signup without admin credentials"
I don't think that we need ``basicAuth`` policy on signup. I get forbidden due to that.

Also, is there a way to grant access to controllers defined in the package like this case? I think it will be helpful.

[2016-02-17 03:56] redBaronNc commented on #179
+1
I have the same issue with sails-permissions 2.1.11

[2016-02-17 17:51] sahilshekhawat commented on #218
I fixed this by removing all policies from user/create action by:
[code]

[2016-02-17 17:51] #218 closed

[2016-02-19 14:49] khchan commented on #215
+1 I'm getting the same warnings in my controllers.

[2016-02-19 22:40] Aure77 commented on #115
It's normal to use get for logout. See how google logout our account : https://accounts.google.com/Logout?service=accountsettings
It's a simple get on /Logout.

A better solution should be to implement [csrf](https://en.wikipedia.org/wiki/Cross-site_request_forgery) protection on login/logout actions.

[2016-02-23 20:41] YChebotaev opened #219 "Blueprint populate breaks with sails-permissions"
After i add sails-permissions to the project, i have all my blueprint actions broken: they don't populated with nested objects.

Please fix this bug.

[2016-02-29 15:27] dottodot opened #221 "Permissions ignored in custom User.find"
If I put the following in my own UserController permissions seem to be ignored and a user making a request to /user can see all users

[code]

If I remove this they only can view their own.

[2016-03-03 14:17] dottodot commented on #221
Any chance of some help with this. It's a pretty critical issue if you can't use the UserController without exposing all users to everyone.

For reference I'm using v2.2.0

[2016-03-03 18:57] snlacks opened #222 "NPM 3.x Error: Cannot find module 'C:\path\to\sails-permissions\generator'"
My fix was to change .sailsrc to:

[code]

[2016-03-04 14:34] Sulejman commented on #217
Can you publish your code on git please.

I have this error
`error: TypeError: Cannot read property 'id' of undefined
    at /Users/sulejmansarajlija/Bookway/bookway/node_modules/sails-permissions/dist/api/hooks/permissions/index.js:135:30`

and I tried to create installedHooks.js but it is not gone yet.

[2016-03-11 10:36] rbro82 commented on #221
Can u paste me your config/policies.js?

I am guessing that u did not apply a policies to your UserController and actions.

[2016-03-11 10:48] dottodot commented on #221
This is what I have at the moment

[code]

[2016-03-11 12:45] rbro82 commented on #221
1.  As I thought the following lines are not restricting access to UserController.find.

[code]

Moreso no UserController action is restricted as every action is set to 'true', meaning anybody may hit this controller's actions.

2. As far as i understand sails-permissions this module restricts access to your models ONLY IF u access them via RESTful routes. Specifically sails-permissions uses polic

[2016-03-11 14:31] dottodot commented on #221
This reason I have the find action on my controller is so I can customise the response. My original post just shows basic example as it doesn't make any difference to the problem.

So am I right in thinking Sail permissions only works if you only use the default blueprint routes?

[2016-03-11 14:40] rbro82 commented on #221
Not exactly but yes, kind of :)

Sails policies only work on controllers and their actions. So u can protect ur find action. But the model logic will not be touched. It basically applies the policies to the blueprint controllers (more correctly ALL controller u mention and configure in policies.js).

[2016-03-11 15:45] dottodot commented on #221
I still a bit confused. If I have the following policies

[code]
I can see that the Polices are triggered but just don't have any effect on the results returned.  Just seem bizarre that it can go through all the checks only to not have any outcome on the result. Surely that defeats the purpose.

[2016-03-11 16:19] dottodot commented on #221
Also as an experiment I've tried with the Role controller setting policy for read to owner returns no results, and setting it to role does, so policies seem to work sometimes.

[2016-03-11 16:33] dottodot commented on #221
Also my custom findOne for users also returns the correct response i.e users can only view themselves, so it seems it's an issue with just custom find.

[2016-03-11 16:46] dottodot commented on #221
Think this issue might be related to https://github.com/tjwebb/sails-permissions/issues/212

[code]
Here the `result` is actually correct

@tjwebb are you able to provide any help with this as little unsure where to look next to find out where it's going wrong.

[2016-03-12 23:04] tjwebb commented on #221
see https://github.com/tjwebb/sails-permissions/issues/200

[2016-03-13 10:07] dottodot commented on #221
OK thanks for letting me know, massively disappointing though.

[2016-03-13 15:01] tjwebb commented on #221
We're disappointed as well: https://github.com/balderdashy/sails/issues/3429#issuecomment-165004024

We are looking for active users/contributes to assist in transferring the long-term maintenance responsibility of this project to someone else.

[2016-03-15 14:23] rbro82 commented on #219
I have the same problem u descrbed.

I added ur changes to the node_models/../file as shown in ur addition, but I still get no populated values.

Do I have to keep something else in mind?

@langateam is there a possibility to fix this or incorporate this as [fix](https://github.com/YChebotaev/sails-permissions/commit/a863a810a8d852f9fb1fa323430f03e8d4e45fac)

[2016-03-16 19:13] wfpaisa commented on #215
[code]

[2016-03-17 04:02] JerryYangJin opened #223 "generator error with sails 0.12"
Hello, the generator is not working for me with sails 0.12 on windows 32-bit, i found a (workaround)[#222], if i followed the workaround, the generator will not throw any error, but only generate `config/permissions.js`

[code]

[code]

[2016-03-18 03:36] JerryYangJin commented on #215
I'm also getting this warning with sails 0.12.1

[2016-03-18 05:34] JerryYangJin opened #224 "permission&auth route, autoCreatedBy error"
Hello, I'm using sails `0.12.1`, sails-auth `2.1.3`, sails-permissions `2.2.0`

in my app, i have route set as

[code]

when i go to `/myaccount/journal`, it doesn't work per controller/action, i got `500` server error. Before i use sails permission, this part works.

In the console there's warning and error:

[code]

so just wondering if sails-auth, sails-permission already use some routes, i can

[2016-04-07 04:50] frontendfuture opened #225 "How Can I login using username only?"
I have use case that I need to manually log user in to application using only their username or email, is it possible?

[2016-04-07 15:20] vicneanschi opened #226 "langa.io’s server DNS address could not be found."

[2016-04-11 03:57] josephbisaillon commented on #217
thanks for this, i'm having this issue i'll try your fix

[2016-04-13 07:21] dottodot opened #227 "RolePolicy Cannot set property 'owner' of undefined"
[code]

This doesn't seem to work

[code]

where as this does

[code]

[2016-04-16 14:54] asmello commented on #227
That seems to fix it. I wonder how/when this broke down.

[2016-04-17 15:16] asmello commented on #123
I'm experiencing the same issue with v2.2.0.

I checked, and there are only three `read` permissions granted for my test user:

| Model  | Action | Relation | Role | Criteria
| --------- | -------- | ----------- | ------ | --------- |
| 10  |  read  | role | public | `{ isPublic: true, blacklist: [ 'isBirthdayPublic' ] }` |
| 10  | read | role | public | `{ isPublic: false, blacklist: [ 'isBirthda

[2016-04-18 12:50] asmello commented on #123
I've identified the issue.

In `RolePolicy.js:25`

[code]

This forwards the permissions without checking the owner relation. My user has both owner and role permissions, but only the role permissions set criteria. `CriteriaPolicy.js:43`

[code]

does not check the relation attribute, so the `where` clause of the owner permission is included, even though it was never checked. The fix is to check i

[2016-05-02 19:51] andreychumak commented on #227
Didn't work for me. It seems to happen because "where" is actually a string and "owner" property is being assigned to literal value.

[2016-05-05 23:11] Alwahsh commented on #56
I just installed sails-auth and passport-local and couldn't get the functionality of user/me working without adding that line
[code]

[2016-05-11 20:07] devlinpadayachee commented on #129
Any update on this

[2016-05-16 14:00] Benew opened #228 "Broken limit, skip and populate find blueprint"
Hi! I can't figure out why the lib is still using a bound function on `res.ok` to filter results instead of just modifying the `where` option sent to the Waterline in the first place.

The hook works great when you don't use pagination or the populate option.

Any work in that direction? Any hints on why it was dropped then?

[2016-05-17 02:06] sposmen commented on #224
Hi, I had the same issue, in the short time I managed it adding the route in inside routes.js...  something like:

[code]

Hope it helps!

[2016-05-17 02:18] sposmen commented on #224
Hi @JerryYangJin , I had the same issue, in the short time I managed it adding the route as first option inside routes.js...  something like:

[code]
I found that it was catching according to the order they were created. Check setting it as the first key in routes.
Hope it helps!

[2016-05-24 18:10] #226 closed

[2016-05-27 15:09] oca159 commented on #223
I have the same error, could you please tell me what is your workaround?

[2016-06-01 11:32] lakinoheat commented on #215
Is this issue still not fixed? Am also having this same warning.

[2016-06-07 12:50] muneermuhammed commented on #198
Hi @joshmatz I am also facing the same issue. And it seems like not generating any **dist** file. But the error message `SyntaxError: Unexpected reserved word
` is showing. I have searched a lot and did not get any clear clarification from any where.

[2016-06-12 05:43] jagzviruz opened #232 "Unable to signup unless logged in with Admin account"
I a unable to create users unless I have logged in using default Admin credentials. I have tried this with both UI and POSTMAN, to the same effect.
I have tested it with a fresh sails project with just sails-auth and sails-permissions modules added.

[2016-06-12 17:10] joeinnes commented on #224
Same issue on:
[code]

[2016-06-14 09:17] giano commented on #215
Same on Sails 0.12.3

[2016-06-14 13:54] kakadiadarpan commented on #232
Facing the same issue.

[2016-07-11 12:42] BaggersIO commented on #232
Same problem here.

[2016-07-20 00:20] richardwardza commented on #224
Try creating a model with the name Journal?

The file should be in your model directory, Journal.js
with the following content:

module.exports = {};

[2016-07-23 17:54] smith64fx opened #235 "JWT Support?"
Thanks for this awesome work!

Is there any possibility to use JWT Token instead of Cookies?

[2016-07-28 13:35] joeloare commented on #210
Having a similar issue here: sails waterline doesn't sem to be able to "deep search" for an ID. It only checks if the value equals the criteria.

# This works!

[code]
# This doesn't work!
[code]

[2016-07-29 20:03] nolife9face commented on #232
If you use sails-auth in combination with sails-permission, you can add this in policies.js
UserController: {
      create: [],
      '*': [
        'basicAuth',
        'passport',
        'sessionAuth',
        'ModelPolicy',
        'AuditPolicy',
        'OwnerPolicy',
        'PermissionPolicy',
        'RolePolicy',
        'CriteriaPolicy'
      ]
    }

This will allow you to create a user

[2016-07-31 08:58] glitch1337 commented on #235
+1 Also need Bearer authentication

[2016-08-01 15:25] idoivri commented on #216
In the config/local.js you can add this:

  permissions: {
    adminUsername: 'admin',
    adminEmail: 'some@email.com',
    adminPassword: '12345678' //should be longer than 8 chars
  }

this worked for me.

[2016-08-09 11:57] Download commented on #222
I had the same issue:

[code]

After performing your suggested fix:

[code]

So thank you!

[2016-08-14 12:41] indr commented on #227
If you have come here looking for a solution and you are lazy like me and don't want to fork and npm install etc., copy `RolePolicy.js` in your apps policies folder and apply the fix mentioned above there...

[2016-08-14 22:51] WirelessElephant commented on #191
I also had this problem on a fresh install. I did not have the `sails-permissions/config/passport` missing module. I fixed the lodash problem by `npm install lodash`.

[2016-09-05 10:16] Kyderman opened #237 "Installation"
I have installed the package and have been able to authenticate via postman, however, I've noticed that nothing has been generated in the controllers/models or policies folders, is this right?

[2016-09-22 12:56] schartz commented on #107
I am also facing the exact same issue. Any workaround would be much appreciated.

[2016-09-22 14:24] ahsang commented on #107
@schartz i think this can be figured out somehow. will look at it in a while i am sure we can find a way.

[2016-10-03 03:32] westlakem commented on #235
+1

[2016-10-09 23:15] msmyers commented on #237
I would recommend Stack Overflow for questions.

[2016-10-09 23:17] msmyers commented on #208
I upgraded my dependencies (further than 0.12.0) AND I deleted the .tmp folder (I think it was picking up an empty sails-disk file and calling that models?) - and my issue went away.

[2016-10-13 05:50] Rafi993 opened #238 "Examples source coded needs to be added"
Hi. It would be better if examples source code is added to the repo so that user can go through the source to know just to see how things fit in.

[2016-10-19 09:26] Rafi993 commented on #238
I found [this ](http://threeninetyfive.net/blog/2015/07/14/sails-permissions-by-example/) example. Hope it gets added in readme

[2016-10-19 09:26] #238 closed

[2016-10-19 15:13] TemaSM commented on #179
+1
Totally the same issue!
"sails": "~0.12.7",
"sails-permissions": "^2.2.0"
"sails-auth": "^2.1.3",

[2016-10-24 15:28] Keramet commented on #235
+1 8)

[2016-10-24 15:55] khchan commented on #235
I was able to put together JWT support with a bit of a workaround here:

1) Disable config/policies/sessionAuth.js:
[code]

2) Add a tokenAuth.js policy:
[code]

3) Override the callback function in AuthController.js to sign the JWT and include it on login:
[code]

[2016-10-25 10:24] Keramet commented on #235
@khchan

So we have to create AuthController.js?     (sails generate controller auth)

[2016-10-25 12:11] khchan commented on #235
yes you will have to include your own auth controller that overrides just that method.

[2016-10-25 13:58] Keramet commented on #235
@khchan

Can we just remove `sessionAuth` from  config/policies.js:
module.exports.policies = {
  '*': [
        'basicAuth',
        'passport',
      //   'sessionAuth',
        'ModelPolicy',
        'AuditPolicy',
        'OwnerPolicy',
        'PermissionPolicy',
        'RolePolicy',
        'CriteriaPolicy'
    ],
...

Where we include this policy to our app?

Thanks

[2016-10-25 14:08] westlakem commented on #235
@Keramet I don't think you can just remove sessionAuth.  he said you're just overriding 1 method in the auth controller.  I imagine you still need the rest.

[2016-10-25 14:13] Keramet commented on #235
@westlakem  If I want to use JWT, why I need session (and therefore - sessionAuth)? All necessary info will include in token. Am I rigth?

[2016-10-26 09:20] GeeWee commented on #223
Having same issue.

[2016-10-26 18:40] khchan commented on #235
@Keramet if it works that way, you can remove it from the policy list.  This is more of a workaround than an actual fix.

[2016-11-01 10:19] ptrpt commented on #232
I'm having the same problem here. Thanks to @nolife9face we have a working workaround. But wouldn't be a more 'correct' way to change the PermissionPolicy so that if the user isn't registered it should be treated like 'public' role? That way, we would grant the permissions we would want for unregistered users using the PermissionService, for example on '.config/bootstrap.js'.

[2016-11-01 15:27] openmynet commented on #223
workaround:
[code]

[2016-11-01 18:43] jdalton opened #240 "Transfer sails npm user to sails."
Hi!

[Sails](https://www.npmjs.com/package/sails) is looking to get into [scoped packages](https://docs.npmjs.com/misc/scope) and ran into the user [npmjs.com/~sails](https://www.npmjs.com/~sails) which appears associated with this project via [balderdash](https://www.npmjs.com/package/sails-permissions/access). I wonder if you'd be up for donating the npm username to them. \cc @mikermcneil

[2016-11-03 17:34] anabelle commented on #107
Any progress on this one?

[2016-11-04 00:39] lakinoheat commented on #225
You are able to login with either username & password combination or email & password combination.
In either way use the following with the endpoint /auth/local
{
    "identifier": username/email,
    "password": password
}

[2016-11-04 00:41] lakinoheat commented on #223
Try changing the .sailsrc as follows:
{
  "generators": {
    "modules": {
      "permissions-api": "**node_modules/**sails-permissions/generator"
    }
  }
}

[2016-11-04 01:23] lakinoheat commented on #237
Refer to issue #217
https://github.com/langateam/sails-permissions/issues/217

[2016-11-04 10:13] niallobrien opened #241 "Project Status"
Hi all, with @tjwebb & co. now focusing their efforts on Trails, will this project continue to be maintained by those who enjoy using Sails?

Thanks in advance.

[2016-11-04 13:32] tjwebb commented on #241
Hey Niall,

We've been trying to find a maintainer to take over this project for
several months now. If you know of anyone who's able to devote the
necessary effort to drive this forward, please let me know.

On Nov 4, 2016 06:13, "niallobrien" <notifications@github.com> wrote:

[2016-11-06 15:23] westlakem opened #242 "read permissions blacklist not working"
I have a model with a payment ID, and when I do a GET request it returns the blacklisted item

[code]

When I do a simple get call to /workOrder/1

            it('should not return the paymentID to the registered user', function(){
                return request
                    .get('/workOrder/1')
                    .expect(200)
                    .then(function(res){

[2016-11-06 15:42] westlakem commented on #241
@tjwebb Will bolderdashy not take it over?

[2016-11-08 14:01] niallobrien commented on #241
@tjwebb Thanks for replying. Will these Sails modules be making their way to Trails?

[2016-11-08 15:20] alexanderpepper opened #243 ""Remember Me" functionality"
How can I make login persist after the browser is closed or the server is restarted?

[2016-11-08 17:49] westlakem commented on #243
@alexanderpepper if you use redis or MongoDB to cache your sessions, then they will continue to remain logged in until the session expires or your browser clears cookies.  You can test it by setting up a free redis instance at RedisLabs(NOT ASSOCIATED), login, kill your server and start it back up, you should see the user is still logged in.

You can see how at http://sailsjs.org/documentation/con

[2016-11-26 01:22] ezemoro opened #244 "PermissionService relation owner fatal error"
![screenshot_1](https://cloud.githubusercontent.com/assets/2272820/20637187/712b3832-b35d-11e6-866c-73a7d55e4002.png)

While adding a permission with relation owner I'm getting this error.
I downgraded to 1.4.5 and it worked fine

[2016-11-30 13:35] nivek91 commented on #228
@Benew what did you do to solve this?

[2016-11-30 13:36] ezemoro commented on #228
@Benew what did you do to solve this?

[2016-12-06 05:06] alexanderpepper commented on #243
Excellent. Ended up using MongoDB. Thank you.

[2016-12-06 05:06] #243 closed

[2017-01-26 08:32] brylie opened #245 "ReferenceError: sails is not defined"
When following the steps in the README, I am having difficulty [setting up local.js](https://github.com/langateam/sails-permissions#eg-in-configlocaljs-file-is-in-gitignore). I am getting errors related to sails not being defined:

[code]

and...

[code]

Where should I put the initial admin configuration object, inside of `module.exports`?

[2017-02-01 22:36] soletan commented on #227
@dottodot The provided fix isn't fixing actually, but simply disabling owner policy. The previous code is actually bad practice as it expects `req.params.all()` to always return the same object. This expectation isn't backed by any specification (checked docs for expressjs as well as sailsjs on this). Therefore the code is hackish and error-prone.

Try this to prove my assumption:

[code]

In my c

[2017-02-23 20:16] nathanBrenner commented on #245
Getting the same error

[2017-02-24 04:29] tjwebb commented on #245
What version of sails?

[2017-02-27 16:08] frenchbread commented on #235
+1 for this feature

[2017-04-06 03:22] medisoft commented on #215
Same as me

[code]

[2017-04-07 19:33] medisoft commented on #221
It is weird. Yesterday I took more than 5 hours reaching for the bug. Permissions seems to be working OK, because until the last policy it reaches only the correct results. But at the end the find request returns everything. I think this could be a problem between sails-permissions and the ORM.

I would like to maintain this module, as I use in many projects.

[2017-04-08 01:08] #245 closed

[2017-04-08 01:09] tjwebb commented on #221
@medisoft if you're interested in maintaining, can you send me an email? tjwebb@langa.io. Thanks

[2017-04-19 06:50] JannikStreek commented on #227
I also stumbled upon this issue, it actually happens for me every time i try to call the /user/me route without being admin (so you are the owner of the resource). So quite a prominent use-case I think ...

[2017-07-07 12:24] saravanannnallasamy opened #247 "Mysql DB connection error"
I have created a new sails project and installed sails-permission. First it worked fine. After creating connection to Mysql and did sails lift it throws an error as

error: Error: Consistency violation: A model (`passport`) references a
datastore which cannot be found ('mysql').  If this model definition has an explicit connection property, check that it is spelled correctly.  If not, check your d

[2017-07-08 05:43] saravanannnallasamy commented on #247
It beacause of sails-mysql update. [https://github.com/balderdashy/sails-mysql/pull/328/files](url) Change `module` as `adapter` in

[code]

[2017-07-08 05:43] #247 closed, assigned to nobody

[2017-07-10 11:18] saravanannnallasamy commented on #242
[https://github.com/trailsjs/sails-permissions/issues/45](url)

res.ok(products)

[2017-07-10 11:31] saravanannnallasamy opened #248 "populate()- populating tables permission issue"
[code]

For Review table i have read permission, but for package table [ populate('packages') ] I don't have read permission but I getting all datas.

[code]

[2017-08-02 14:37] abedbilani commented on #156
it should be like that
{
  "generators": {
    "modules": {
      "permissions-api": "node_modules/sails-permissions/generator"
    }
  }
}

[2017-08-05 11:19] minhvn opened #249 "Error with Model Name is Account"
Hi guys,
I have existing project, it have model Account instead User model and my validate login with session not using sails-auth, when I integrate it with my project, it show error.
How to fix it, please help me.
Thank you very much.

[2017-08-05 15:28] minhvn commented on #249
Thank you very much,
But, when I merge My Account Model( I dont have User model) with User model it show error ORM.
I see your hook permission using fix User name of model, it effect my config? Please help me, I take 2days for fix it but cannot run :(
After add role in config folder, I run it alert error: A hook (`userconfig`) failed to load!
Thank you very much.

[2017-08-07 14:26] GregSithole opened #250 "PermissionService Error"
Hi

I'm getting an error when I try to create a user.
So I'm able to login which returns my user details.

And then when I try to create a random user, I get a
`PermissionService.findModelPermissions is not a function`.

My full error is as followed:
` TypeError: PermissionService.findModelPermissions is not a function
    at module.exports (C:\Users\Mystere\auth-permission\node_modules\sails-perm

[2017-08-07 14:41] GregSithole commented on #250
Never mind, I wasn't using the PermissionService...

[2017-08-07 14:41] #250 closed, assigned to nobody

[2017-08-17 14:00] ChrisWorks opened #251 "PermissionService.findTargetObjects returns all objects"
Hello

I have a method "preferences" on my `UserController`, which actually only works against my `Preferences` model:

[code]

The sails-permissions `RolePolicy` seems to not like that combination. The `RolePolicy` will actually extract ALL objects in my `User` model to check wether my permission matches each object. After some debug statements this is what is written to the console:

[code]

To

[2017-09-26 20:38] pixelbacon commented on #227
++

[2017-09-26 20:40] pixelbacon commented on #235
++

[2017-09-26 20:43] pixelbacon commented on #5
This is a rather large bug IMO; a main reason many people use Sails is because of the blueprint & association portion of the API...

Any update on this?

[2017-09-26 21:00] pixelbacon commented on #129
++

[2017-10-19 01:08] leoujz opened #252 "Ownership access control for action 'read' not works and package still active?"
This package still active?

By my test,

[code]

Then, 'put /sth/:id' can only be accessed by the user who owns the 'sth/:id', it works.

However, I need similar access control for 'get /sth/:id', I want only the owner can access 'get sth/:id'. I tried the following operations:

[code]

But it does not work.

`PermissionService.grant({role:'registered', model:'sth', action:'read', relation:'role'}

[2018-02-28 11:02] mhamdani049 opened #254 "TODO remove enum and support permissions based on all controller"
how do i remove enum for "TODO remove enum and support permissions based on all controller", after i save no change. is there anything i should do? thank you

[2018-08-14 00:30] KingOfBeasts commented on #222
I had the same issue,so thank you!

[2018-08-31 03:06] vpiskunov commented on #235
It’s been over 2 years now... any support for this coming?